@import "../../../contrib/neato/bower_components/neat/app/assets/stylesheets/neat-helpers";
// Neat Overrides
//$column: 10em;
$gutter: 4em;
//$grid-columns: 12;
$max-width: 1150px;

// Bourbon grid display. Comment out to remove display.
//$visual-grid: true;
$visual-grid-color: #EEEEEE;
$visual-grid-opacity: 0.4;

// Neat Breakpoints
// $medium-screen: 600px;
// $large-screen: 900px;
//
// $medium-screen-up: new-breakpoint(min-width $medium-screen 4);
// $large-screen-up: new-breakpoint(min-width $large-screen 8);


$hero: new-breakpoint(max-width 1700px 12);
$header: new-breakpoint(max-width 1100px 12);
$tablet: new-breakpoint(max-width 900px 12);
$mobile: new-breakpoint(max-width 630px 4);
