// Ensures all media and images are responsive. 
img, media {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

img:hover, a img:hover {
	opacity: .8;
	@include transition (opacity .3s ease-in-out);
}