body {
  margin: 0;
  padding: 0;

  // Page padding
  .outer-wrapper {
    padding: 0 5%;
  }


  #header-top-outer {
    .header-top-left {
      @include span-columns(5);
    }
    .header-top-right {
      @include span-columns(7);
    }
  }

  #header-middle {
    //@include span-columns(12);
  }

  #header-bottom-outer {
    .header-bottom-left {
      @include span-columns(12);
    }
    .header-bottom-right {
      //@include span-columns(3);
    }
  }



  main {
    //@include outer-container;
    //padding: 3em 0;
  }

  &.no-sidebars {
    main {
      #content {
        @include span-columns(12);
      }
    }
  }

  &.one-sidebar.sidebar-first {
    main {
      aside {
        &#sidebar-first {
          @include span-columns(4);
        }
      }

      #content {
        @include span-columns(8);
      }
    }
  }

  &.one-sidebar.sidebar-second {
    main {
      aside {
        &#sidebar-second {
          @include span-columns(3);
          @include media($mobile) {
            @include span-columns(4);
          }
        }
      }

      #content {
        @include span-columns(9);
        @include media($mobile) {
            @include span-columns(4);
          }
      }
    }
  }

  &.two-sidebars {
    main {
      aside {
        &#sidebar-first {
          @include span-columns(3);
        }

        &#sidebar-second {
          @include span-columns(3);
        }
      }

      #content {
        @include span-columns(6);
      }
    }
  }

  #footer-top-outer {
    .footer-top-left {
      @include span-columns(8);
      @include media($mobile) {
        @include span-columns(4);
      }
    }
    .footer-top-right {
      @include span-columns(3);
        @include media($mobile) {
          @include span-columns(4);
          margin-top: 50px;
        }
    }
  }

  #footer-bottom {
    @include span-columns(12);
  }


}

.inner-wrapper {
  @include outer-container;
}
