@mixin viewport-span($padtop, $padbottom) {
	margin: 0 -9999rem;
	padding-right: 9999rem;
	padding-left: 9999rem;
	padding-top: $padtop;
	padding-bottom: $padbottom;

	// margin-left: calc(-50vw + 50%);
 	// margin-right: calc(-50vw + 50%);

    // http://codepen.io/chriscoyier/pen/158a2712b7db1c7281d0f53572c6cfaf
 	// 	left: 50%;
	// margin-left: -50vw;
	// width: 100vw;
	// min-width: 100%;
	// padding: 0 calc(50vw - 50%);
	// box-sizing: border-box;
	// position: relative;
}

// From https://github.com/joshfry/point-guard
 
// Pass a second argument as the grid number context
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}