table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  table-layout: auto;
  width: 100%;
  font-size: .8em;
  margin: 0 !important;
  border: 1px solid #f8f8f8;

  // .views-field-title, .views-field-body, .views-field-field-authority-2 {
  //   width: 160px;
  // }


  tr,
  td,
  th {
    vertical-align: top;
  }


  tr {
    th {
      background-color: $light-gray !important;
      font-size: 1.1em;
    }
  }
  
}



thead {margin: 0;}

// td {
//   border-bottom: $base-border;
//   //padding: $small-spacing 0;
// }




