// Typography
$base-font-family: $georgia;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: .8rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 1px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$orange: #e14b2c;
$dark-gray: darken(#84898c, 20%);
$medium-gray: #999;

$link-blue: #387f9a;
$blue-fade: #659BAE;
$blue-fade2: #D0E1E7; 
$blue-dark: #41526A;
$light-gray: #ddd;
$med-light-gray: #eee;
$very-light-grey: #f6f6f6; // old: #f6f6f6
$label-color: darken($very-light-grey, 5%);
$label-font: darken($blue-fade, 15%);
$highlight-search: darken(yellow, 8%);

// Font Colors
$base-font-color: $dark-gray;
$action-color: $orange;


// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);
$blue-background: #40526b;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
