 
<div class="search-block-form" data-drupal-selector="search-block-form" id="block-thetaklamakan-search" role="search">
    <form action="./search/result" method="get" id="search-block-form" accept-charset="UTF-8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <label for="edit-keys" class="search-label">SEARCH INSCRIPTIONS</label>
                    <input placeholder="e.g.object id, title, description, catalogues, translation, transcriptions" title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search" />
                    <input id='all_search'  data-drupal-selector="edit-submit" type="button" id="edit-submit" value="Search" class="button btn-default btn-search js-form-submit form-submit" />
                </div>
            </div>
        </div>
        
    </form>
</div>
 
<div><p style="text-align:center;margin-top:35px;margin-bottom:35px;"><button id='inc_search' type="button" class="btn btn-default orange">SHOW ALL INSCRIPTIONS</button></p></div>

 