.path-manage {

	.views-exposed-form {
		background-color: darken($very-light-grey, 3%);
		padding: 0 20px;
		margin-bottom: 20px;
		.form-actions {
			position: relative;
			display: inline-block;
		}
		.js-form-item {
			margin-right: 20px;
			font-weight: lighter;
		}
	}
	.views-form {
		#edit-header {
			.form-item {
				float: left;
				margin-top: 0;
				margin-right: 20px;
			}
		}
	}
}



#user-login-form, .path-contact, #block-userlogin {
	.form-actions input {
		background-color: $blue-fade;
	}
	.form-item input {
		border: 1px solid $light-gray;
	}
}


.path-manage .form-actions input {
	background-color: $blue-fade;
}



// Search Bar Styling

#header-bottom-outer {

	@include media($tablet) {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	#header-bottom-right {


		#block-searchshowalllink {

			a {
				border-radius: 1px;
				background-color: lighten($orange, 10%);
				height: 50px;
				padding-top: 13px;
				text-align: center;
				font-size: 1.2em;
				display: block;
				color: #fff;
				letter-spacing: .1em;
				font-variant: small-caps;
				&:hover {
					background-color: $blue-fade;
				}

				@include media($tablet) {
					height: 44px;
					padding: 12px;
					font-size: 1em;
			    }
			    @include media($mobile) {
			    	font-size: .8em;
			    	padding: 14px 2px;
			    }

			}



			
		}
	}


	// Search box outer container see viewport-span in _mixins.scss
	#header-bottom-left {
		.views-exposed-form {
		

			.form-item {
				width: 100%;
				padding: 0;
				margin: 0;
			}

			.form-text {
				height: 50px;
				font-size: 1.6em;
				font-weight: 200;
				letter-spacing: .1em;
				@include media($tablet) {
					height: 45px;
			      }
			}

			.form-actions {
				float: right;
				height: 0;
				margin-top: 0;
				margin-bottom: 0;
				top: -60px;
				right: 10px;
				position: relative;
				z-index: 100;
				@include media($tablet) {
					top: -52px;
				}

				.form-submit {
					margin-left: -1px;
					margin-right: 10px;
					border: none;
					background-color: $blue-fade;
					height: 70px;
					width: 70px;
					padding: 0;
					font-size: 1.1em;
					font-variant: small-caps;
					opacity: .8;
					
					@include border-top-radius(90px);
					@include border-bottom-radius(90px);

					&:hover {
						background-color: $orange;
					}

					@include media($tablet) {
						height: 60px;
						width: 60px;
						font-size: 1em;
				      }
				}
			}
		}
	}
}

