
//  Display Suite styling  -- Teaser/taxonomy page

.path-article, // -- article/all
.path-taxonomy, // -- article/all/tag-date 
.page-node-type-article /* -- article/name-of-article */ {

	main {
		padding-top: 3em;
		//background-color: $very-light-grey;

		article {

			
			.view-article-display-view {
				.views-row {
					padding: 1em;
					margin-bottom: 30px;
					border: 5px solid #fff;
					.group-left {
						@include span-columns(4);

					}
					.group-right {
						@include span-columns(8);
						.field--name-node-title h2 {
							//border-bottom: 1px solid #ccc;
							font-variant: small-caps;
							font-size: 2em;
							font-weight: 200;
							margin-bottom: .2em;

						}
						.field__label {
							background-color: darken($very-light-grey, 5%);
							color: $blue-fade;
							padding: 0 5px;
							margin-right: 5px;	
							font-weight: 200;		
						}
						.field__item {
							margin: 5px 0;
						}
					}
				}
			}
		}



		//  Display Suite styling  -- Main page
		
		#block-neato-dmyta-content {

			.node--type-article {
		
				.group-header {
					@include span-columns(12);
					margin-bottom: 1em;

				}
				.group-left {
					@include span-columns(8);
					//border: 1px solid #ccc;
					display: block;
					margin-bottom: 2em;

				}
				.group-right {
					@include span-columns(4);
					@include omega(n);
					//border: 5px solid #fff;
					background-color: #fff;
					padding: 5px;
					margin-bottom: 2em;
					.field__label {
						background-color: darken($very-light-grey, 5%);
						color: $blue-fade;
						padding: 0 5px;
						margin-right: 5px;	
						font-weight: 200;	
							
					}
					.field__item {
						margin: 10px 5px;

					}

				}

				.group-footer {
					border-top: 5px solid #fff;
					clear: both;
					display: block;
					margin-top: 12em;
					font-size: 1.3em;
					p {
						padding: 1em 0;
						line-height: 1.5em;

					}
				}
			}
		}
	}
}