.page-node-type-inscription {
	.region-header-bottom-left {

		&:before {
			content: 'INSCRIPTION';
			text-align: center;
			//margin-top: -3em;
			font-size: 1em;
			border-bottom: 1px dotted $light-gray;
			display: block;
			margin-bottom: 1em;
			color: lighten($medium-gray, 15%);
			letter-spacing: .2em;
		}
	}

	main {



		#block-neato-dmyta-content {
			padding-top: 3em;
			font-size: .9em;

			// &:before {
			// 	content: 'INSCRIPTION';
			// 	float: right;
			// 	margin-top: -35px;
			// 	font-size: 1.2em;
			// 	color: $medium-gray;
			// 	letter-spacing: .1em;
			// }

			// General field__label and field__item styling
			// Overwritten in certain cases below marked **
			.field > {

				.field__label {
					color: $blue-fade;
					padding:  0;
					font-weight: 300;
					font-variant: all-small-caps;
					font-size: 1.3em;
				}
				.field__item {
					padding: 2px 0;
					margin-bottom: 1.3em;
				}

			}

			.node__links {
				a {
					float: left;
					font-size: .9em;
					padding: 5px;
				}
				&:after {
					content: "Click on image to zoom";
					display: block;
					text-align: right;
					padding: 5px;
					font-size: .9em;
					color: $medium-gray;
				}


			}

			
			.top-wrapper {
				clear: both;

				// ** field__label and field__item overwritten
				.field--name-field-object-reference {
					@include span-columns(4);
					.field__label {
						border-top: 1px solid $light-gray;
					}
					.field__items {
						.field__item {
							padding-top: 4px;
							margin-bottom: 1.5em;
						}
					}
					@include media($tablet) {
						@include span-columns(12);
					}
				}
				.field--name-field-inscription-id {
					@include span-columns(4);
					.field__label {
						border-top: 1px solid $light-gray;
					}
					@include media($tablet) {
						@include span-columns(12);
					}
				}
				.field--name-field-object-id {
					@include span-columns(4);
					.field__label {
						border-top: 1px solid $light-gray;
					}
					@include media($tablet) {
						@include span-columns(12);
					}
				}


				//Description (Inscription) field
				.field--name-field-inscription-description {
					padding: 5px 0 4em 0;
					margin: 0 !important;
					border-top: 1px solid $light-gray;		
				}
			}



			.left-wrapper {

				@include span-columns(7);
				clear: both;
					@include media($tablet) {
						@include span-columns(12);
					}
				.left-inner-one {
					margin-top: 1em;
					h2 {
						margin-top: 1px;
						background-color: $blue-fade2;
						padding: 2px 10px 3px 10px;
						color: $base-font-color;
						font-weight: 100;
						font-size: 1.3em;
						letter-spacing: .1em;
						font-variant: all-small-caps;
						margin-bottom: 1em;

					}
					//border: 1px solid gray;
					margin-bottom: 2em;
					overflow: hidden;

					.left-inner-left {
						@include span-columns(6);
						border-top: 1px solid $light-gray;

					}
					.left-inner-right {
						@include span-columns(6);
						@include omega(n);
						border-top: 1px solid $light-gray;

					}
				}

				.left-inner-two {
					clear: both;
					margin-top: 5em;
				}
				
			}

			.right-wrapper {
				@include span-columns(5);
				@include omega(n);
				@include media($tablet) {
					@include span-columns(12);
				}
				//clear: both;

				.right-inner-one {
					//clear: both;
					margin-top: 4em;
				}

				.right-inner-two {
					//clear: both;
					margin-top: 1em;

				}
			}

			.bottom-wrapper {
				clear: both;
				padding-top: 4em;
			}


			// Styling for the JS hide/view options from grouped display.
			details {
				margin-top: 0;
				border: 1px solid transparent;
				background-color: transparent;

				.details-wrapper {
					padding: 0;
				}

				summary {
					background-color: $blue-fade2;
					padding: 0 10px;
					color: $base-font-color;
					font-size: 1.3em;
					letter-spacing: .1em;
					font-variant: all-small-caps;
					margin-bottom: 1em;
					font-weight: 100;
				}
			}










			// ** field__label and field__item overwritten
			.field--name-field-inscription-concordance {
				.field__label {
					border-top: 1px solid $light-gray;
					padding-bottom: 1em;

				}
				.field__items {

					.paragraph {
						background-color: darken(#fff, 2%);
						margin-top: 5px;
						padding: 0 !important;
					}
					.field__item {
						display: block;
						margin-bottom: 0 !important;
					}
					.field--name-field-concordance-item {
						.field__item {
							display: inline-block;
							float: left;

						}
					}
					.field--name-field-concordance-item-number {
							.field__item {
							display: inline-block;
							padding-left: 10px;
						}
					}	
				}
			}


			.field--name-field-image-inscription-ref {
				h2 {display: none;}
				border-top: 1px solid $light-gray;

				.field__item {
					padding: 0;
					margin: 0;
					background-color: transparent;
			
					img {
						margin-bottom: 2em;
					}
				}
			}




			.field--name-field-biblliography-description {

				.field__label {
					border-top: 1px solid $light-gray;
				}
				.field__item {
					padding: 1em 0;
				}
			}




			.field--name-field-xml-plain {
				.field__item {
					max-height: 600px;
					overflow: scroll;
					background-color: #fff;
					padding: 10px;
				}
				.field__label {
					display: none;
				}
			}


			.field--name-display-field-copynode-xml-plain-xslted {

				position: relative;
				top: -70px;

				.field__label {
					background-color: $blue-fade2;
					padding: 0 10px;
					color: $base-font-color;
					font-size: 1.3em;
					letter-spacing: .1em;
					font-variant: all-small-caps;
					//make room for toggle below, pulled up
					margin-bottom: 3em;
				}

				// This is the #main from the XML-XSLT stylesheet
				#main.xsl-edition {
					padding-top: 4em;
					padding-bottom: 12em;
					display: block;
					background-color: #fff;
					max-height: 700px;
					overflow: scroll;
					//line-height: 3 !important;
				}
				#main.xsl-dip {
					padding-top: 2em;
					padding-bottom: 12em;
					display: block;
					background-color: #fff;
					max-height: 700px;
					overflow: scroll;
					//line-height: 3 !important;
				}


			}

			

			.field--name-field-edition-toggle {
				margin-top: 3em;
				position: relative;
				z-index: 100;
				font-size: .9em;
				@include media($header) {
					//font-size: .8em;
				}

				.edition-toggle {

					z-index: 100;
					width: 40%; 
					float: left;
					background-color: darken($very-light-grey, 5%);
					margin: 0 2% 5px 0;
					padding: 5px 15px;


					//text-align: center;
					color: $orange;
					&:hover {
						background-color: lighten($orange, 15%);
						cursor: pointer;
						color: #fff;
					}
					&:before {
						content: '►';
						position: relative;
						//top: 1px;
						padding-right: 10px;
						color: $medium-gray;
					}

					@include media($tablet) {
						width: 58%;
					}
				}
				.diplomatic-toggle {
					font-size: 1em;
					width: 26%; 
					float: left;
					background-color: darken($very-light-grey, 5%);
					padding: 5px;
					text-align: center;
					@include media($tablet) {
						width: 40%;
						margin: 0 0 5px 0;
					}
				}

				.display-toggle {	
					z-index: 100;
					width: 30%; 
					float: left;
					background-color: darken($very-light-grey, 5%);
					margin: 0 2% 5px 0;
					padding: 5px 15px;
					color: $orange;
					&:hover {
						background-color: lighten($orange, 15%);
						cursor: pointer;
						color: #fff;
					}
					&:before {
						content: '►';
						position: relative;
						//top: 1px;
						padding-right: 10px;
						color: $medium-gray;
					}

					@include media($tablet) {
						display: none;
					}
				}

			}

											
		}


	}
}

.page-node-type-inscription-wide {
	main {
		#block-neato-dmyta-content {
			.left-wrapper {
				@include span-columns(12);
			}
			.right-wrapper {
				@include span-columns(12);

				.right-inner-one {
					@include span-columns(6);
					margin-top: 0;
					clear: none;
				}
				.right-inner-two {
					@include span-columns(6);
					margin-top: 0;
					//clear: none;
				}
			}
		}
	}
}


