.page-node-type-object {

	.region-header-bottom-left {

		&:before {
			content: 'OBJECT';
			text-align: center;
			//margin-top: -3em;
			font-size: 1em;
			border-bottom: 1px dotted $light-gray;
			display: block;
			margin-bottom: 1em;
			color: lighten($medium-gray, 5%);
			letter-spacing: .2em;
		}
	}

	main {


		#block-neato-dmyta-content {

			padding-top: 3em;
			font-size: .9em;

			// &:before {
			// 	content: 'OBJECT';
			// 	float: right;
			// 	margin-top: -35px;
			// 	font-size: 1.2em;
			// 	color: $medium-gray;
			// 	letter-spacing: .1em;
			// }


			.node--type-object > {

				.group-header  {
					@include span-columns(12);
					font-size: 1.1em;
					border-top: 1px solid $light-gray;
					padding: 10px 0 0 0;
					margin-bottom: 2em;
				}


				.group-left {
					@include span-columns(9);
					@include media($mobile) {
						@include span-columns(4);
					}					
					&:before {
						content: "Basic Metadata";
						display: block;
						margin-bottom: 1em;
						background-color: $blue-fade2;
						padding: 0 10px;
						color: $base-font-color;
						font-variant: all-small-caps;
						font-size: 1.3em;
						letter-spacing: .1em;
					}
					// Basic Metadata
					.field--name-field-authority-3,
					.field--name-field-materials-techniques,
					.field--name-field-form-taxonomy,
					.field--name-field-object-id,
					.field--name-field-extent,
					.field--name-field-provenance {
						@include span-columns(6);
						@include omega(2n);
						margin-bottom: 15px;
						display: block;

						.field__label {
							color: $blue-fade;
							padding: 2px 0;
							font-weight: normal;
							border-top: 1px solid $light-gray;
							font-variant: all-small-caps;
							font-size: 1.3em;
						}
						.field__item {
							padding: 2px 0;
						}
					}


					// History Details
					.field--name-field-authority-2 {
						/*** Clear-float is required, to get this out of the span-columns
						floating above, as this field set is not grouped using
						the display options in Drupal ****/
						clear: both; // important
						float: left; // important
						width: 100%;
						margin-bottom: 10px;
						margin-top: 50px;				

						.field__label {
							background-color: $blue-fade2;
							padding: 0 10px;
							color: $base-font-color;
							font-variant: all-small-caps;
							font-weight: normal;
							font-size: 1.3em;
							letter-spacing: .1em;

						}
						.field__item {
							padding: 10px 0;
						}

					} 

					// Event History -- title hidden, History details serves title
					.field--name-field-event-instances > {
						.field__item {
							@include span-columns(4);
							@include omega(3n);

							.paragraph {
								.field {
									font-size: .85em;
								}
								.field--name-field-events-type {
									font-size: 1em;
									color: $blue-fade;
									padding: 2px 0 5px 0;
									border-top: 1px solid $light-gray;
									font-variant: all-small-caps;
									font-size: 1.3em;
								}
								.field__label {
									font-weight: bold;
									font-variant: all-small-caps;
									font-size: 1.3em;
								}
							}
						}
					}
				}



				.group-right {
					@include span-columns(3);
					@include omega(n);
					@include media($mobile) {
						@include span-columns(4);
						margin-top: 2em;
					}
					h2 {
						display: none;
					}
					&:before {
						content: "Images";
						display: block;
						margin-bottom: 5px;
						background-color: $blue-fade2;
						padding: 0 10px;
						color: $base-font-color;
						font-variant: all-small-caps;
						font-size: 1.3em;
						letter-spacing: .1em;
					}


					.field__items {
						margin-bottom: 20px;

						img {
							margin: 1em 0;
							max-height: 300px;
							overflow: hidden;
							object-fit: contain;
						}
					}
				}



				.group-footer  {
					padding-top: 100px;

					// Containing inscription teasers
					.field--name-field-inscription-reference {
						// /*** Clear-float is required, to get this out of the span-columns
						// floating above, the only way to apply a margin-top. This is because
						// this is just another field, not a field-groupiing.****/
						// clear: both;  // important
						// float:left;  // important
						// width: 100%;
						// display: block;
						
						&:before {
							content: "Inscriptions";
							display: block;
							background-color: $blue-fade2;
							padding: 0 10px;
							color: $base-font-color;
							font-variant: all-small-caps;
							font-size: 1.3em;
							letter-spacing: .1em;
						}

						.field__label {
							font-weight: normal;
						}

						.node--type-inscription {
							margin-bottom: 3em;
						}


						.group-header {
							@include span-columns(12);
							.field--name-node-title {
								a {
									font-size: 1.2em;
									display: block;
									padding: 10px 0;
									margin-bottom: 10px;
									border-top: 1px solid $light-gray;
									border-bottom: 1px solid $light-gray;
									font-variant: small-caps;
									//border-bottom: 1px solid $light-gray;
										&:before {
										content: '►';
										position: relative;
										//top: 2px;
										padding-right: 10px;
										color: $light-gray;
									}
								}
							}
						}

						.group-left {
							@include span-columns(6);
							@include media($mobile) {
								@include span-columns(4);
							}
							margin-bottom: 20px;
							.field {
								margin-bottom: 10px;
								.field__label {
									color: $blue-fade;
									font-variant: all-small-caps;
									font-size: 1.3em;
								}
								.field__item {
									padding: 2px 0;
								}
							}
						}

						.group-right {
							margin-bottom: 20px;

							@include span-columns(6);
							@include omega(n);
							@include media($mobile) {
								@include span-columns(4);
							}
							
							.field__label {
								background-color: $label-color;
								color: $blue-fade;
								padding: 0 10px;
								font-variant: all-small-caps;
								font-size: 1.3em;
							}
							.field__item {
							}

							
							.field--name-display-field-copynode-xml-plain-xslted {
								background-color: #fff;
								height: 270px;

								.field__label {
									&:after {
											content: ' Preview';
											position: relative;
										}
									}

								// This is the #main from the XML-XSLT stylesheet
								#main.xsl-edition {
									padding-top: 1em;
									padding-bottom: 1em;
									display: block;
									background-color: #fff;
									max-height: 200px;
									overflow: hidden;
									//line-height: 3 !important;
								}
								#main.xsl-dip {
									padding-top: 1em;
									padding-bottom: 1em;
									display: block;
									background-color: #fff;
									max-height: 200px;
									overflow: hidden;
									//line-height: 3 !important;
								}


							}
						}

						.group-footer  {
							
							.field__label {
								background-color: darken($very-light-grey, 10%);
								color: $blue-fade;
								padding: 0 5px;

							}
							.field {
								@include span-columns(4);
								@include omega(3n);
								margin-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}
}