.page-node-type-image {

	.region-header-bottom-left {
		//Required here. Other h1.title on _page.scss
		.field--name-field-image-name {
			font-size: 1.5em;
			font-variant: small-caps;
			letter-spacing: .1em;
			background-color: #eeeeee;
		}
		&:before {
			content: 'IMAGE';
			text-align: center;
			//margin-top: -3em;
			font-size: 1em;
			border-bottom: 1px dotted $light-gray;
			display: block;
			margin-bottom: 1em;
			color: lighten($medium-gray, 15%);
			letter-spacing: .2em;
		}
	}


	main {

		#block-neato-dmyta-content {
			font-size: .9em;
			padding-top: 3em;

			.field--name-field-image {

				img {
					background-color: lighten($light-gray, 7%);
					padding: 4em;
					overflow: hidden;
					margin-top: 2em;
				}
			}
		
			.field--name-field-image-copyright-status, 
			.field--name-field-inscription-correspondence {
				@include span-columns(6);
				@include omega(2n);
				@include media($mobile) {
					@include span-columns(12);
				}			
				margin-bottom: 2em;
				.field__label {
					color: $blue-fade;
					padding: 2px 0;
					font-weight: normal;
					border-top: 1px solid $light-gray;
					clear: both;
					font-variant: all-small-caps;
					font-size: 1.3em;
				}
				.field__item {

				}
			}
		}
	}
}


// Title for just the Image page (uses 'fieldblock' module)
.page-node-type-image {

}