.page-node-type-bibliographic-item {

	#header-bottom-outer .inner-wrapper {
		//Required here. Other h1.title on _page.scss

		&:after {
			content: 'BIBLIOGRAPHIC ITEM';
			text-align: center;
			//margin-top: -3em;
			font-size: 1em;
			border-bottom: 1px dotted $light-gray;
			display: block;
			margin-bottom: 1em;
			color: lighten($medium-gray, 15%);
			letter-spacing: .2em;
		}
		
	}


	main {
		#block-neato-dmyta-content {
			overflow: hidden;
			font-size: .9em;
			border-bottom: 1px solid $light-gray;

			.group-header {
			}
			.group-left {
				border-top: 1px solid $light-gray;
				@include span-columns(6);
				margin-bottom: 3em;
			}
			.group-right {
				border-top: 1px solid $light-gray;
				@include span-columns(6);
				@include omega(n);
				margin-bottom: 3em;
			}
			.group-footer {
				clear: both;
			}
		}



		#block-neato-dmyta-content {
			padding-top: 3em;
			margin-bottom: 2em;



						
			.field__label {
				color: $blue-fade;
				padding: 0;
				font-weight: 200;
				clear: both;
				font-variant: all-small-caps;
				font-size: 1.3em;
			}
			.field__item {
				padding: 2px 0;
				margin-bottom: 1em;
			}



			.group-header {
				.field--name-field-type {
					background-color: $blue-fade2;
					text-align: right;
					font-variant: all-small-caps;
					font-size: 1.3em;
					padding: 0;
					letter-spacing: .1em;
					text-align: center;
					margin-bottom: 1em;
				}
			}
			.field--name-field-parent-id > {
				.field__label {
					color: $base-font-color;
					background-color: $blue-fade2;
					text-align: right;
					font-variant: all-small-caps;
					font-size: 1.3em;
					padding: 0;
					letter-spacing: .1em;
					text-align: center;
					margin-bottom: 1em;
				}
				.field__item {
	
					

					h2 {

						&:after {
							padding-left: 10px;
							content: '►';
							color: $light-gray;

						}
						float: left;
						padding-right: 10px;
						margin-top: 4px;
					}	
				}
			}
		}
	}
}