// Default styling from theme

footer {
  background: $blue-dark;
  width: 100%;


  .footer-inner {
    padding: 5em 0 2em 0;


    .footer-top-left {
        //display: inline-block;
        border-top: 1px solid lighten($blue-dark, 10%);
        border-bottom: 1px solid lighten($blue-dark, 10%);
        position: relative;
        vertical-align: middle;
        height: 100%;
        padding: 55px 0;
        @include media($tablet) {
            padding: 0;
        }

    }

    .footer-top-right {
        border-top: 1px solid lighten($blue-dark, 10%);
        border-bottom: 1px solid lighten($blue-dark, 10%);
        padding: .5em 0;
        height: 228px;
        @include media($tablet) {
            height: 260px;
        }


        li {
            text-align: right;
            font-size: 1.2em;
            font-variant: small-caps;
            letter-spacing: 2px;
            font-weight: 100;
            padding-bottom: .5em;

        }
    }

  }

  ///////////////////////////////////////////////////////////////////////////////////

  ul:not(.contextual-links) {
    padding: 0;

    li {
      list-style: none;
      line-height: 1.5em;
    }
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  section {
    @include outer-container;
  }

}



// Custom styling

.footer-outer {
    #block-footerlogos {
        .footer_image {
            display: inline-block;
            overflow: hidden;
            img {
                padding: 1em 0;
                height: 116px;
                margin-right: 1em;
                overflow: hidden;
                @include media($mobile) {
                    height: 90px;
                }
            }
        }
    }

    #block-contactbottomblock {
        h2 {
            color: darken($light-gray, 30%);
            text-align: center;
            font-size: 1.3em;
            font-variant: small-caps;
            font-weight: 200;
            letter-spacing: .4em;
            padding-bottom: 3em;
        }
    }
}