.path-frontpage {

	#hero {
		.block-views-blockimages-block-1 {
			.view-images {
				.views-row  {
					max-height: 180px;
					width: 100%;
					@include media($tablet) {
						max-height: 400px;
					}
					opacity: .5;
					overflow: hidden;
					img {
						// position: relative;
						// right: 20px;
						// top: -150px;
						background-repeat: repeat-y;
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
	}


	#featured-outer-two {

		#block-frontpagedescription {
			@include viewport-span(3em, 1em);
			display: block;
			color: darken($dark-gray, 10%);
			font-family: Segoe, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
			background-color: transparentize($blue-fade, .2);
			border-bottom: 1px solid $light-gray;
			
			.front-headline {
				@include span-columns(5);
				letter-spacing: 5px;
				font-size: 1.8em;
				display: block;
				padding-bottom: 80px; // just so float does not wrap
				font-variant: small-caps;	
				float: left;
				color: #fff;
				@include media($tablet) {
					padding-top: 0;
					font-size: 1.4em;
				}
				@include media($mobile) {
					padding-bottom: 30px;
					@include span-columns(4);
				}			
			}


			.text-formatted {

				p {
					padding-top: 6px;
					letter-spacing: 1px;
					font-size: 1em;
					@include media($tablet) {
						font-size: .85em;
					}

					a {
						display: block;
						margin-left: 42.8%;
						margin-top: 1em;
						border-radius: 1px;
						text-align: right;
						padding: 5px 10px;
						font-variant: small-caps;
						font-size: 1.2em;
						color: #fff;
						&:hover {
							background-color: transparentize($medium-gray, .7);
						}
					}
				}
			}
		}




		.block-views-blockfront-object-teasers-block-1 {
			//background-color: transparentize($light-gray, .2);
			//@include viewport-span(1em, 3em);
			padding-bottom: 15em;
			h2 {
				text-align: center;
				font-size: 2.4em;
				font-variant: small-caps;
				font-weight: 200;
				margin-top: 2em;
				margin-bottom: 2em;
				letter-spacing: .4em;

			}
			.views-row {
				h2 {display: none;}
				@include span-columns(4);
				@include omega(3n);
				border: 1px solid darken($very-light-grey, 2%);
				padding: 20px;
				margin-bottom: 4em;
				text-align: center;
				height: 360px;
				overflow: hidden;
				border-radius: 2px;
				@include media($tablet) {
					// See _mixings.scss
					@include omega-reset(n)

					@include span-columns(6);
					@include omega(2n);
				}
				@include media($mobile) {
					@include span-columns(4);
					@include omega(n);
				}
				.views-field-title {
					
					display: table;
					width: 100%;
					height: 55px;
					background-color: $very-light-grey;
					margin-bottom: 10px;
					&:hover {
							background-color: transparentize($blue-fade, .7);
						}

					a {
						font-variant: small-caps;
						border-radius: 1px;
						display: table-cell;
						vertical-align: middle;
						height: 55px;
						padding: 5px;
						font-size: 1.2em;
						letter-spacing: 1px;
					}		
				}
				.views-field-body {
					p {
						color: $medium-gray;
						font-size: .9em;
						margin-top: 10px;
					}			
				}
			}
		}




		.view-front-statistics-block {
			background-color: $light-gray;
			@include viewport-span(1em, 3em);
			letter-spacing: .2em;
			text-align: center;
			.front-stat-head {
				font-size: 1.5em;
				font-variant: small-caps;
				padding: 1em 22% .4em 22%;
				line-height: 1.7em;
				@include media($header) {
					font-size: 1.1em;
				}

			}
			.front-stat-click {
				font-size: .9em;
				color: $medium-gray;
				@include media($header) {
					font-size: .8em;
				}
			}

			.front-stat-zenodo {
				margin-top: 3em;
				font-size: .9em;
				display: inline-block;
				@include media($header) {
					margin: 20px;
				}
				a {
					border: 1px solid lighten($medium-gray, 15%);
					padding: .5em 3em;
					margin-right: 30px;
					@include media($mobile) {
						margin-right: 0;
					}
					&:hover {
						background-color: $medium-gray;
						color: #fff;
					}
				}
				@include media($header) {
					font-size: .8em;
				}
			}

			.front-stat-zenodo-xml {
				font-size: .9em;
				display: inline-block;

				
				a {
					border: 1px solid lighten($medium-gray, 15%);
					padding: .5em 3em;
					margin-left: 30px;
					@include media($mobile) {
						margin-left: 0;
					}
					&:hover {
						background-color: $medium-gray;
						color: #fff;
					}
				}
				@include media($header) {
					font-size: .8em;
				}
			}
		}
	}
}