// Fix Toolbar Memu module

#toolbar-administration .toolbar-tray a {
  padding: .1em 1em;
}


/***************************************************
/  Navigation
/***************************************************/

#header-top-outer {
  //overflow: auto;
  background-color: darken($very-light-grey, 15%);
  height: 70px;
  @include media($header) {
    height: 60px;
  }
  @include media($mobile) {
    height: 80px;
  }

  // Logo styling
  #header-top-left {
    font-family: $georgia;
    //border: 1px solid red;

    #block-neato-dmyta-branding {
      .site-name {
        font-size: 2.8em;
        font-weight: 200;
        letter-spacing: 35px;
        //font-variant: small-caps;
        padding: 10px 0 0 125px;
        a {
          color: lighten($orange, 15%);
          &:hover {
            color: $blue-fade;  
          }
        }

        @include media($header) {
          letter-spacing: 27px;
            padding-left: 100px;
            font-size: 2.1em;
          }
        @include media($tablet) {
            letter-spacing: 19px;
            padding-top: 14px;
            font-size: 1.9em;
          }
        @include media($mobile) {
          font-size: 1.3em;
          letter-spacing: 10px;
          }
        

      }
      .site-slogan {
        padding: 12px 0 0 125px;
        font-size: 1.2em;
        font-variant: small-caps;
        letter-spacing: 2px;
        margin-right: -100px;

        @include media($header) {
          letter-spacing: 1px;
          font-size: 1em;
          padding-left: 100px;
          }
        @include media($tablet) {
          letter-spacing: 0px;
          font-size: .9em;
          }
        @include media($mobile) {
          padding-top: 0;
          }
      }

      a.site-logo {
        //border: 1px solid red;
        float: left;        
        img {
          //height: 130px;
          width: 95px;
          z-index: 1;
          padding: 15px 10px 10px 15px;
          position: relative;
          background-color: lighten(transparentize($orange, .2), 8%);
          @include media($header) {
            width: 80px;
          }
          // @include media($tablet) {
          //   width: 59px;
          // }
        }
      }
    }

  }

  

  #block-neato-dmyta-branding {
    //border: 1px solid #fff;
  }
  nav {
    ul.menu {
      float: right;
      @include media($mobile) {
          padding-top: 5px;
        }
      li {
        float: right;
        @include media($mobile) {
          float: none;
        }
        a {
          font-variant: all-small-caps;
          font-size: 1em;
          width: auto;
          padding: 5px 15px;
          display: block;
          letter-spacing: .4em;
          border: 1px solid $very-light-grey;
          border-radius: 1px;
          margin: 12px 0 0 10px;
          &:hover {
            border: 1px solid lighten($blue-fade, 10%);
            @include media($mobile) {
              border: none;
            }
          }
          &.is-active {
            color: $link-blue;
          }

          @include media($header) {
            font-size: 1em;
            padding: 5px 10px;
            letter-spacing: .3em;
          }
          @include media($tablet) {
            margin: 12px 0 0 5px;
            font-size: .9em;
            padding: 5px;
            letter-spacing: .1em;
          }
          @include media($mobile) {
            margin: 0;

            border: none;
            text-align: right;
            padding: 0 5px;
            font-size: .8em;
            letter-spacing: 0em;
          }

        }
      }
    }
  }
}




