.user-logged-in {
	// #header-bottom-outer {
	// 	#block-neato-dmyta-page-title {
	// 		h1.page-title {
	// 			font-size: 3.4em;
	// 			border: 1px solid red;
	// 		}
	// 	}

	main {
		padding-top: 3em;
	}

	#manage-strip {
		.view-current-user {
			float: right;
			.view-content {
				text-align: right;
				font-variant: all-petite-caps;
				letter-spacing: .1em;
			}
		}
	}

	.view-bibliography-list-overview {
		.view-content {
			table {
				tbody {
					tr {
						td {
							//width: 10%;
							padding: 5px 1%;
						}
						.views-field-field-parent-id {
							h2 {
								font-size: .6em;
							}
						}
						.views-field-field-publication-title {
							font-size: 1em;
							font-weight: bold;
							width: 300px !important;

						}
					}
				}
			}
		}
	}

	.view-objects-overview {
		.view-content {
			table {
				tbody {
					tr {
						td {
							//width: 10%;
							padding: 5px 1%;
						}
						.views-field-field-parent-id {
							h2 {
								font-size: .6em;
							}
						}
						.views-field-body {
							font-size: 1em;
							width: 400px !important;
						}
						.view-field-inscription-reference-table-column {
							li {
								padding-bottom: 1em;
							}

						}
					}
				}
			}
		}
	}



	#featured-outer-one {
		//padding-bottom: 2em;
		background-color: lighten($blue-fade, 30%);
		#block-adminmanagement {
			padding-top: 2em;
			padding-bottom: 1em;
			h2 {
				font-size: 2em;
				@include viewport-span(1em, 1em);
				// padding-top: 2em;
				//padding-bottom: 2em;
				//border: 1px solid red;
			}
			ul.menu {
				padding-bottom: 3em;
				li {
					float: left;
					a {
						width: auto;
						padding: 10px 20px;
						font-size: 1.3em;
						background-color: lighten($orange, 10%);
						color: #fff;
						margin-right: 10px;
						
					}
				}
			}
		}
	}

}

.page-node-type-page {
	main {
		article {
			nav.block-menu {
				@include span-columns(3);
				@include media($header) {
					@include span-columns(6);
					@include omega(2n);
				}
				h2 {
					background-color: $light-gray;
					padding: 5px;
				}
				ul {
					background-color: #fff;
					padding: 10px;
					li {
						padding: 5px 0;
					}
				}

				margin-bottom: 30px;
			}
		}
	}
}


#manage-strip {
	#block-userlogin {
		margin-top: -9px;
		@include media($header) {
			margin-top: -6px;
		}
		@include media($mobile) {
			margin-top: 20px;
			display: none;
		}

		.user-login-form, .item-list {			
			display: none;
		}
		
		h2.block-title {
			font-variant: petite-caps;
			font-size: 1.1em;
			text-align: right;
			position: relative;
			cursor: pointer;
			top: -10px;
			font-weight: lighter;
			letter-spacing: .1em;
			@include media($header) {
				font-size: .9em;
			}
		}
	}
}

