//This ensures any full width backgrounds do not bring about browser scrolling
// see https://css-tricks.com/full-browser-width-bars/
body, html {
  	overflow-x: hidden;
}




//*********************** Page Resets  ***************
.item-list li {
	margin: 0 !important;
}
ul.inline li {
	padding: 0 !important;
}
ul.menu {
	margin-left: 0 !important;
}
main {
	background-color: $very-light-grey;
	#content {
		padding-bottom: 15em;
		margin: 0;
		@include media($mobile) {
			padding-bottom: 5em;
		}
	}
}
.path-user {
	#block-adminmanagement {
		display: none;
	}
}



//****************************************************

// Search bar "Show All" block -- to appear only on <front> and /search* pages
// This overrides "_layout.scss"
.path-frontpage, .path-search {
	#header-bottom-outer {
    	.header-bottom-left {
      		@include span-columns(9);
    	}
    	.header-bottom-right {
      		@include span-columns(3);
    	}

    	background-color: $med-light-gray;
		//@include viewport-span(3.5em, 3.5em);
		padding-top: 2em;
		padding-bottom: 2em;
 	}
 }





// Node only styling


// Title span styling
.path-node, .path-article, .path-taxonomy, .path-team, .user-logged-in, .path-contact, .path-user {

	#header-bottom-outer {
    	background-color: $med-light-gray;
		//@include viewport-span(3.5em, 3.5em);
		padding-top: 1.5em;
		padding-bottom: 1.5em;

	}

	h1.page-title {
		font-size: 1.5em;
		font-variant: small-caps;
		font-weight: 200;
		//padding: 4px 0;
		letter-spacing: .1em;
		background-color: #eeeeee;
		margin-right: 50px;
		//border-top: 1px solid lighten($light-gray, 2%);
		//border-bottom: 1px solid lighten($light-gray, 2%);
		@include media($tablet) {
			font-size: 1.3em;
          }
	}
}





// About page styling


.page-node-type-page {
	main {

		article {

			margin-top: 2em;
			
			.content {
				display: block;
				font-size: 1.1em;
				background-color: #fff;
				padding: 3em 5em;
				font-weight: 200;
				@include media($mobile) {
					padding: 0;
					font-size: 1em;
				}

				h3 {
					//@include viewport-span(0em, 0em);
					background-color: transparentize($blue-fade, .4);
					//border-top: 1px solid $blue-fade;
					font-variant: small-caps;
					// margin: 2em 0;
					font-size: 1.6em;
					font-weight: 100;
					padding: .2em 1em;
					color: #fff;
					opacity: .8;
					letter-spacing: .1em;
					margin: 3em 0 1.5em 0;
						&:first-child {
							margin: .5em 0 1em 0;
					}
				}

				h4 {
					background-color: $very-light-grey;
					margin: 2em 0 1em 0;
					font-size: 1.3em;
					font-variant: small-caps;
				}

				.about-page, .howto-page {
					padding: 0 3em;

					.about_image img {
						border: 1px solid darken($very-light-grey, 10%);
						padding: 2em 5em;
						margin-top: 1em;
						margin-bottom: 2em;
					}
				}


				.terms-conditions {
					padding: 0 3em;

					.terms-erc {
						text-align: center;
						img {
							height: 220px;
						}
					}
					.cc-image {
						display: inline-block;
						padding-left: 2em;
						padding-top: 2em;
						padding-bottom: 1em;
						
						img {
							//float: left;
							height: 120px;
							opacity: .9;
						}

					}
				}
			}
		}
	}
}

//Override for "Admin Management menu"
.page-node-type-page article#node-1456 .content {
	display: none;

}


// Pagination 

.pager {
	margin-top: 15em;
	width: 100%;
	display: block;
	overflow: hidden;
	padding: .5em 1em;
	border: 1px solid $light-gray;
	@include media($mobile) {
		margin-top: 3em;
	}
	ul {
		float: left;
		padding: 1em 0;


		li.pager__item {
			background-color: $light-gray;
			padding: 1em;
			display: inline-block;
			margin-right: 5px;
			font-weight: 100;
			font-size: 1.1em;
			margin-top: 5px;
			margin-bottom: 5px;
			&:hover {
				background-color: $orange;
			}
			

			&.is-active {
				color: white;
				background-color: $orange;
			}

			a {
				color: #fff;
				display: block;
			}
			

		}
	}
}

// Scroll bar styling throughout

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  //border-radius: 4px;
  background-color: $light-gray;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
