.path-team {

	main {
		//background-color: $very-light-grey;

		.view-people-collaborators {
			.view-header {
				background-color: $blue-fade;
				font-variant: small-caps;
				// margin: 2em 0;
				font-size: 1.8em;
				font-weight: 100;
				padding: .2em 1em;
				color: #fff;
				opacity: .8;
				letter-spacing: .1em;
				margin: 1.5em 0 1.5em 0;
			}
					
			.view-content {
				
				.views-row {
					padding: 2em;
					border: 5px solid #fff;
					margin-bottom: 2em;
					.group-left {
						@include span-columns(3);

					}
					.group-right {
						@include span-columns(9);
						.field--name-taxonomy-term-title h2 {
							border-bottom: 1px solid #ccc;
							font-variant: small-caps;
							font-size: 2.1em;
							font-weight: 300;
							margin-bottom: .5em;

						}
						.field--name-field-person-position .field__item {
							//background-color: #fff;
							display: block;
							padding: 0 2px;
							margin-bottom: 5px;
							font-variant: small-caps;
							font-size: 1.3em;
							font-weight: 200;
							color: $blue-fade;
						}
						.field--name-field-person-link .link-url {
							//background-color: #fff;
							padding: 0 2px;

							&:before {
								content: '►';
								padding-right: 10px;
								color: #ccc;
							}
						}
						.field {
							margin-bottom: 2px;
							.field__label {
								font-variant: small-caps;

							}
							
						}

					}
				}
			}
		}
	}
}