.path-search {
	#main-outer {
		padding-top: 3em;
		// Search highlighting
		strong {
			background-color: $highlight-search;
			font-weight: 400;

		}
	}

	#featured-outer-two {
		background-color: $very-light-grey;
		padding-top: 2em;
		// This hides the summary count, as not active when no search results
		// Using the view-header result count instead, lifted with neg margins.
		.source-summary-count {
			display: none;
		}

		#block-searchfacetsummary {
			text-align: right;
			//background-color: lighten($medium-gray, 25%);
			border-bottom: 1px solid lighten($medium-gray, 30%);
			border-top: 1px solid lighten($medium-gray, 30%);
			font-variant: small-caps;
			font-size: 1.1em;
			height: 45px;
			@include media($mobile) {

			}
			.source-summary-empty {
				p {
					margin: 0;
					font-size: .9em;
					padding: 13px 0 10px 20px;
					@include media($mobile) {
						padding-top: 17px;
						font-size: .7em;
					}
				}
			}

			.item-list {
				ul {margin: 0;}
				a {
					float: right;
					padding: 6px;
					border-radius: 2px;
					background-color: $highlight-search;
					margin: 5px 0 5px 10px;
					display: inline-block;
					color: darken($light-gray, 50%);
					position: relative;
					z-index: 100;

					&:hover {
						background-color: lighten($orange, 10%);
					}
					&:before {
						content: "( × )";
						color: #fff;
						&:hover {
							color: red;
						}
					}
				}
				.facet-item__status {
					display: none;
					color: $footer-background;			
				}
			}
		}
	}




	.view-basic-solr-search-objects {

		.view-header {
			// to replace .source-summary-count above
			padding-left: 5px;
			margin-bottom: 50px;
			margin-top: -70px;
			font-weight: normal;
			font-variant: small-caps;
			font-size: 1.1em;
			@include media($mobile) {
				//font-size: 1.1em;
				//margin-top: -73px;
			}
		}
		

		.views-row {
			//padding: 5px;
			overflow: hidden;
			margin-bottom: 5em;
			background-color: #fff;
			//border-right: 1px solid $blue-fade2;
			//border-left: 1px solid $blue-fade2;
			//border-bottom: 1px solid $blue-fade2;
			//padding-bottom: 1em;
			.views-label {
				color: $blue-fade;
				font-variant: all-small-caps;
				font-size: 1em;
				border-top: 1px solid $light-gray;
				margin-right: 1em;	

			}


			.title-fieldset {
				.views-field-title {
					background-color: $label-color;
					//@include span-columns(9.5);
					width: 80%;
					float: left;
					//background-color: $light-gray;
					padding: 2px;
					@include media($tablet) {
						padding: 3px;
						font-size: .9em;
					}
					@include media($mobile) {
						padding: 1px;
					}
					
					a {
						display: block;
						font-size: 1em;
						color: darken($dark-gray, 10%);
						letter-spacing: 2px;
						//font-variant: small-caps;
						&:before {
							content: '►';
							position: relative;
							padding-right: 10px;
							color: $medium-gray;
						}
						&:hover {
							color: $orange;
						}
					}
				}


				.views-field-type {
					//@include span-columns(2.5);
					width: 20%;
					float: right;
					background-color: $blue-fade2;
					font-variant: small-caps;
					text-align: center;
					display: block;
					padding: 2px;
					letter-spacing: 1px;
					color: $dark-gray;
					font-size: 1em;
					@include media($mobile) {
						font-size: 1em;
						padding: 10px 1px;
						height: 38px;
					}
				}


			}

			//Object/inscription description
			.top-fieldset {
				@include span-columns(12);
				padding: .5em 1em 1em 1em;
				font-size: .9em;
			}

			.left-fieldset {
				@include span-columns(6);
				padding-left: 1em;

				.views-field {
					margin-bottom: 5px;
				}
				.field-content {
					font-size: .85em;
				}
			}

			.right-fieldset {

				@include span-columns(6);
				@include omega(n);
				padding-left: 1em;


				// Event History
				.views-field-field-event-instances {
					.views-label {
						//padding-bottom: 5px;
						display: block;
					}	

					.field-content {
						.item-list li {
							
							@include media($mobile) {
								@include span-columns(4);
							}

							.paragraph {
								.field--name-field-events-type {
									display: inline-block;
									font-variant: all-small-caps;
									//border-top: 1px solid $label-color;
									margin: 0 2em 0 0;
									color: $blue-fade;
									float: left;
									clear: both;
								}
								.field--name-field-events-place, 
								.field--name-field-events-date {
									font-size: .85em;
									display: inline-block;
								} 
							}
						}
					}
				}
			}

			.bottom-fieldset {
				@include span-columns(12);
				font-size: .9em;
				//clear: both;
				padding: 0 1em 1em 1em;

				.views-field-field-inscription-reference {
					padding: 1em 0 0 0;

					.views-label {
						display: block;
						margin-right: 0;
					}

					.field-content { 
						li {
							//padding: .5em 0;

							&:not(:first-child) {
								padding-top: 0;
							}
							.group-header {
								.field--name-node-title {
									h2 {									
										a {
											padding: 10px 0 0 0;
											//margin: .5em 0 0 0;
											display: block;
											//background-color: $very-light-grey;
											font-weight: normal;
											font-size: .9em;
										}
									}
								}
								.field--name-field-inscription-description {
									font-size: .9em;
									padding: 5px 0 0 1px;
									display: block;
									//padding-bottom: 1em;
								}
							}
						}
					}
					
				}




				// Styling for the Inscription result items
				// As separate results, not as belonging to object
				.views-field-field-image-inscription-ref {
					h2 {display: none;}
					overflow: auto;
					margin-bottom: 1em;
					ul li {
						width: 150px;
						float: left;
						overflow: hidden;
						padding-right: 10px;
					}
				}
				.views-field-field-edition {
					clear: both;
					border: 1px solid darken($very-light-grey, 5%);
					padding: 5px 15px;
				}

				.views-field-search-api-excerpt {
					strong {
						background-color: yellow;
					}
				}

			}



			// Search excerpt styling
			.views-field-search-api-excerpt {
				clear: both;
				margin-bottom: .5em;
				padding:  .5em 1em 1em 1em;
				background-color: lighten($blue-fade2, 8%);
				.views-label-search-api-excerpt {
					display: block;
					clear: both;
					border-top: transparent;
				}
					
				.field-content {
					display: block;
					margin-top: .5em;
					font-size: .9em;
					
				}
			}
		}
	}
}