

// General Sidebar Styling (across all relevant pages)
.path-search,
// -- article/all/tag-date
.path-taxonomy {


	main {

		aside {
			// See .view-header results adjustments on Records
			//padding-top: 10px;


			h2 {
				//border-top: 1px solid $light-gray;
				//background-color: lighten($light-gray, 5%);
				padding: 0 15px 5px 0;
				font-size: 1.3em;
				font-variant: all-small-caps;
				margin-bottom: 10px;
				letter-spacing: 3px;
				font-weight: 400;
				background-color: lighten($light-gray, 2%);
				@include media($mobile) {
					background-color: $light-gray;
				}
			}
		
			text-align: right;
			.block {
				//background-color: #fff;
				margin-bottom: 4em;
				padding-left: 10px;
				//border-right: 1px solid $light-gray;
				//padding-right: 5px;
				@include media($mobile) {
					margin-left: 4em;
				}

				// For search pages
				.item-list {
					font-size: 90%;
					max-height: 190px;
					overflow-y: scroll;
					padding-right: 10px;
					//border-right: 1px solid $light-gray;

					.facet-item {
						a {
							// border-bottom: 1px solid $light-gray;
							// border-top: 1px solid $light-gray;
							//background-color: lighten($light-gray, 12%);
							margin-bottom: 0px;
							display: block;
							border: 1px solid transparent;
							&:hover {
								background-color: lighten($blue-fade, 40%);

							}
						}
					}
				}

				// For article pages
				.views-row {
					.views-field-name {						
						border-bottom: 1px solid #fff;
						border-top: 1px solid $very-light-grey;
						display: block;

					}
				}
			}
		}
	}
}

// -- article/all
.path-article,
// article/name-of-article 
.page-node-type-article { 

	main {

		// Sidebar (Article pages)
		aside {
		
			text-align: right;
			.block {
				//background-color: #fff;
				margin-bottom: 2em;
				padding-left: 20px;
				border-right: 1px solid $light-gray;
				padding-right: 20px;


				// For article pages
				.views-row {
					.views-field-name {						
						border-bottom: 1px solid #fff;
						border-top: 1px solid $very-light-grey;
						display: block;

					}
				}
			}

			h2 {
				border-bottom: 1px solid $light-gray;
				padding: 0 10px 10px 0;
				font-size: 1.5em;
				font-variant: small-caps;
				margin-bottom: 10px;
			}
		}
	}
}




