.page-node-type-inscription, .page-node-type-object {
	main {


		#block-neato-dmyta-content {



			// Concordance and bibliography hover -- overwrites "title" attribute (see JS)
			.field--name-field-inscription-concordance, .field--name-field-biblliography-description, .field--name-field-authority-2, .group-header > .field--name-body > p {
				a:hover {
					background-color: $light-gray;

				}
				a[data-tooltip]:hover:after {

					  content: attr(data-tooltip);
					  padding: 1em;
					  color: #333;
					  position: absolute;
					  margin: 2px 5px;
					  z-index: 20;
					  background-color: lighten($blue-fade, 40%);
					  border: 1px solid $light-gray;
					  //color: #fff;
					  //border-radius: 3px;

 
				}
			}											
		}
	}
}


