/* CSS for XSLT include for xslt styles */
// body {
// color: #333;
//     font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
//     font-feature-settings: "kern", "liga", "pnum";
//     font-size: 1em;
//     line-height: 2em;
// }


.page-node-type-inscription, .page-node-type-object {

  #block-neato-dmyta-content {

   /* CSS for XSLT include for xslt styles */
   /* See _ds_inscription.scss file for a couple over-rides */

      .xsl-edition {
        padding-left: 80px;
        padding-right: 40px;
      }
      .xsl-dip {
        word-wrap: break-word;
        padding-left: 170px;
        padding-right: 60px;
      /*  word-spacing: -4px; */
      }


      div .xsl-textpart {
      }

      div.xsl-textpart h2 { 
      /*  margin-top: 0.5em;*/
        //display: inline-block;
        margin-top: 0;
        margin-bottom:0;
        margin-right: 10px;
        color: #0fa39c;
      }

      .xsl-dip div.xsl-textpart h2 {
        //display: inline-block;
      }
      .xsl-edition div.xsl-textpart h2 {
        //display: inline-block;
        margin-top: 15px;
      }



      .xsl-greyout {
        color: #aaaaaa;
        font-weight: bold;
        font-size: 1.1em;
      }

      .xsl-space-chars,
      .xsl-space-char {
        color: #aaaaaa;
        font-weight: bold;
        font-size: 1.1em;
        cursor: pointer;
      }

      div.xsl-dip .xsl-line-break {
          white-space: nowrap;
          float: left;
          margin-left: -100px;
          display: inline-block;
          font-size: 1em;
          background-color: white;
      }

      div.xsl-dip .xsl-pb  {
       /* toggle this on and off */
          display: inline-block;
          color: #aaaaaa;
          font-weight: bold;
          font-size: 1.1em;
          float: left;
          //margin-left: -100px;
      }

      div.xsl-dip span.xsl-greyout.xsl-line-break-dip.xsl-dip-only {
        display: inline-block;
        width: 120px;
        margin-left: -120px;
        padding-top: 15px;
      }

      div.xsl-dip .xsl-textpart span.xsl-greyout.xsl-line-break-dip.xsl-dip-only {
        //display: inline;
        width: 120px;
        margin-left: -120px;
        padding-top: 0;
        text-align: right;
        padding-right: 40px;
      }

      div.xsl-edition .xsl-line-break,
      div.xsl-edition .xsl-pb {
            white-space: nowrap;
          background-color: #0fa39c;
          border-radius: 4px;
          padding: 1px 4px 2px 4px;
          color: #ffffff;
          font-size: 0.9em;
          margin: 0 3px;
          //display: none;
          max-height: 1.8em;
      }

      div.xsl-edition .xsl-pb {
          font-size: 1em;
          padding: 1px 5px 3px 5px;
      }

      div.xsl-edition .xsl-paragraph {
          float: left;
          margin-left: -120px;
          display: none;
          font-size: 1em; 
      }

      div.xsl-dip .xsl-paragraph {
          display:none;
      }

      div.xsl-dip .xsl-page-break-dip {
        margin-left: -100px;
      }

      div.xsl-edition .xsl-page-break-dip {
        display: none;
      }

      /* used for word breaking across lines */
      .xsl-no-break {
        color: #aaaaaa;
        font-weight: bold;
        font-size: 1.1em;  
      }

      .xsl-surplus {
        font-size: 0.9em;
        cursor: pointer;
      }

      div.xsl-edition .xsl-lg-label {
        color: #aaaaaa;
        font-weight: bold;
        font-size: 1em;
        float: left;
        //margin-left: -120px;
      }

      div.xsl-dip .xsl-lg-label {
        display: none;
      }

      .xsl-gap,
      .xsl-add {
        color: #0000ff;
        cursor: pointer;
      }

      .xsl-unclear {
        color: #aaaaaa;
      }

      .xsl-surplus {
        color: #aaaaaa;
        font-weight: bold;
        font-size: 1.2em;
      }

      .xsl-supplied {
        color: #0000ff;
        cursor: pointer;
      }

      .xsl-supplied-dip {
        color: #0000ff;
        font-weight: bold;
        font-size: 1.2em;
        cursor: pointer;
      }

      .xsl-generic-symbol {

      }

      .xsl-highlight-number {
        color: #ff0000;
        cursor: pointer;
      }

      .xsl-sic {
        color: #ff0000;
        cursor: pointer;
      }

      .xsl-sic-dip {
        color: #ff0000;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
      }

      div.xsl-edition .xsl-sic-cor-edition {
        color: #0000ff;
        cursor: pointer;
      }

      div.xsl-edition .xsl-sic-dip,
      div.xsl-dip .xsl-sic-cor-edition {
        display: none;
      }

      /* not currently used */
      .xsl-abbrev {
        background-color: #dff0f5;
        border-radius: 7px;
        cursor: pointer;
      }

      .xsl-deletion {
        color:#ff0000;
        cursor: pointer;
      }

      .xsl-return {
        color: #aaaaaa;
        font-size: 1.2em;
        font-weight: bold;
      }

      .xsl-damage {
        display: inline-block;
        background-color: #eeeeee;
        border-radius: 7px;
        cursor: pointer; 
      }
      /* toggle between edition and diplomatic view  */
      div.xsl-dip .xsl-edition-only {
        display: none;
      }

      div.xsl-edition .xsl-dip-only {
        display: none;
      }

      .button {
          font-size: 30px;
          font-weight: bold;
          padding: 6px 10px;
          width: 220px;
          cursor: pointer;
          margin: 20px auto;
          background: #ddd;
          text-align: center;
      }

      .active {
          background: teal;
          color: #fff;
      }

      #myButton2 {
          display: none;
      }
      /* end include for XSLT styles */


  }

}

// Overrides on the above -- for the "Edition Preview" on the Object node
.page-node-type-object {
  #block-neato-dmyta-content {
    .xsl-edition,
    .xsl-dip {
      //smargin-top: 0px;
      //margin-left: 105px !important;
    /*  word-spacing: -4px; */
    }
  }
}