body{
    font-family: 'Gentium Basic', serif;
    font-size: 18px;
    overflow-x: hidden;
}

a{
    text-decoration: underline;
    cursor: pointer;
    color:#636363;
}

div[role="alert"]{

}

div[aria-label="Error message"]{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
}

div[aria-label="Status message"]{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
}

.nopadding{
    padding: 0!important;
}
.nopadding-right{
    padding-right: 0!important;
}
.nopadding-left{
    padding-left: 0!important;
}

.nomargin{
    margin: 0!important;
}

/*Tool tip (Search)*/
.white-tip + .tooltip{
    opacity: 1;

}
.white-tip + .tooltip > .tooltip-inner {background-color: white;
                                        color:#636363;
                                        font-size: 16px;
                                        font-family: 'Gentium Basic', serif;
                                        padding: 25px 17px 25px 17px;
                                        -webkit-border-radius: 0;
                                        -moz-border-radius: 0;
                                        border-radius: 0;
                                        border: 1px solid rgba(204, 204, 204, 0.6);
}

.white-tip + .tooltip > .tooltip-arrow { border-bottom-color:white; border-bottom: 8px solid white;}
.search-tip  + .tooltip{
    margin-left:30px;
}
.search-tip  + .tooltip > .tooltip-arrow{margin-left: -40px}

.btn-default, .btn-default:hover, .btn-default:focus{
    text-transform: uppercase;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size:16px;
    background-color: #898989;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 8px 24px 8px 24px;
}

/*Check box*/
.checkbox{
    margin: 0;
}
.checkbox label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 6px;
    background-color: white;
    border: 1px solid #989e95;
    /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
}
.checkbox input[type=checkbox] {
    display: none;
    position: relative;
    margin: 0;
}
.checkbox input[type=checkbox]:checked + label:before {
    content: "\2713";
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);*/
    font-size: 11px;
    color: #485342;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
}

/*Top Navigation*/
.top-navbar{
    margin-top: 20px;
}
.navbar-header{
    margin-top: 10px;
}
.navbar-toggle{
    border-color: #485342;
}
.navbar-toggle .icon-bar {
    background-color: #485342;
}
.top-navbar .navbar-nav{
    text-transform: uppercase;
}
.top-navbar .navbar-nav>li>a{
    color: #636363;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 10px 15px 10px 15px;
    margin: 3px 7px 7px 7px;
    text-decoration: none;
}
.top-navbar .navbar-nav>li>.is-active{
    background: #eee;
}
.top-navbar .navbar-nav>li{
    border-right: 1px solid #aaaaaa;
}
/*.top-navbar .navbar-nav>li:last-child{
    border-right: none;
}*/
/*Pager*/
.pager li>a, .pager li>a:hover,.pager li>a:focus{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    color: #636363;
    border: none;
    background-color: white;
}
.pager .pager__item{
    display: inline;
    border-right:1px solid #EAEAEA;
}
.pager  .pager__item--previous{
    display: inline;
}
.pager  .pager__item--next{
    display: inline;
}
.pager .is-active{
    display: inline;
}
.pager .is-active a, .pager .is-active a:hover,.pager .is-active a:focus{
    font-weight: bold;
    border-radius: 0;
    text-decoration: none;
    width: 52px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "Gentium Basic", serif;
}
/* Pager 2*/
.pager2 {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
}

.pager2 {
    list-style-image: none;
    list-style-position: outside;
}

.pager2 li   a, .pager li   span {
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
}
 



.pager2 li>a, .pager2 li>a:hover,.pager2 li>a:focus{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    color: #636363;
    border: none;
    background-color: white;
}
.pager2 .pager__item{
    display: inline;
    border-right:1px solid #EAEAEA;
}
.pager2  .pager__item--previous{
    display: inline;
}
.pager2  .pager__item--next{
    display: inline;
}
.pager2 .is-active{
    display: inline;
}
.pager2 .is-active a, .pager2 .is-active a:hover,.pager2 .is-active a:focus{
    font-weight: bold;
    border-radius: 0;
    text-decoration: none;
    width: 52px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "Gentium Basic", serif;
}
/*Language Switcher*/
#block-languageswitcher{
    display: inline-block;
}

/*Content Area*/
.page-header{
    border-bottom: none ;
    margin:20px 0 20px;
}
.page-header .partofcontent{
    margin-bottom: -29px;
}
.page-header h1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 36px;
    color: #636363;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}
.page-header p{
    text-align: center;
    font-size: 22px;
    color: #898989;
}
.page-header p .simple-header{
    text-align: left;
    display: block;
    color: #636363;
}
.page-header a{
    color: #898989;
}

.block-title{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #898989;
    line-height: 0.1em;
    margin: 25px 0 40px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
}

.block-title .main-title {
    background:#fff;
    padding:0 90px;
    font-size: 26px;
    color: #636363;
}

.block-title .right-menu {
    top: 43px;
    font-size: 18px;
    position: absolute;
    display: block;
    right: 0;
    padding-right: 35px;
    padding-top: 10px;
    color: #898989;
    height: 100px;
}

.block-title .left-menu {
    top: 43px;
    font-size: 18px;
    position: absolute;
    left: 0;
    padding-right: 35px;
    padding-top: 0px;
    color: #898989;
    height: 100px;
}

.block-title #grid-link{
    display: none;
}

.block-title .grid-icon{
    background-image: url('../images/grid-icon.gif');
    background-repeat: no-repeat;
    background-position: right 0px;
}

.block-title .list-icon{
    background-image: url('../images/list-icon.gif');
    background-repeat: no-repeat;
    background-position: right 5px;
}

.page-content{
    color: #636363;
}
/*.page-content em{
    color: #636363;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
}*/
.page-content-banner{
    margin-top: 40px;
    margin-bottom: 30px;
}
.page-content-banner img{

}

/*Homepage*/
.hp-resources button,.resources button, .suggestions button{
    margin-top: 30px;
}

/*Blog content*/
.blog-content{
    margin-top: 60px;
}
.blog-content .comment-count{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    background-color: #485342;
    padding: 7px 13px 7px 13px;
    display: inline-block;
}
.blog-content .comment-count-wrapper{
    text-align: right;
}
.blog-content .author-details{
    padding-top: 9px;
    text-align: center;
}
.blog-content .share-icons{
    padding-top: 6px;
    text-align: left;
}
.blog-content article h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 36px;
    color: #636363;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
}

.blog-content article, .blog-content article p{
    font-family: "Gentium Basic", serif;
    font-size: 18px;
    color: #636363;
}
.blog-content article p{
    margin-bottom: 30px;
}
.blog-content article img{
    max-width: 100%;
}

.blog-content figure{
    margin-bottom: 24px;
    margin-top: 30px;
}
.blog-content figure figcaption{
    margin-top: 18px;
}

.blog-content h4 {
    padding: 0;
    margin: 0;
    font-size: 22px;
    border: none;
    line-height: normal;
}
.blog-content h4 p{
    font-size: 22px;
    line-height: normal;
}
.blog-content article [rel="schema:author"] a{
    color: #2274a3;
    text-decoration: none;
    text-transform: capitalize;
}

.blog-content .article-content-footer{
    margin-top: 46px;
    margin-bottom: 65px;
}

.blog-content .top-icon {
    text-align: center;
    display: block;
    margin-bottom: 120px;
}

/*Article sidebar*/
.article-sidebar{
    padding-left: 25px;
}
.article-sidebar h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #636363;
    margin-top: 6px;
    margin-bottom: 19px;
    margin-left: 8px;
}
/*Recent posts block*/
#block-views-block-recent-posts-block-1{
    background-color: #e1e0e0;
    padding: 17px 13px 17px 13px;
}
#block-views-block-recent-posts-block-1 .item-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#block-views-block-recent-posts-block-1 .item-list li{
    border-bottom: 1px dotted #9f9e9e;
    padding: 15px 8px 14px 8px;
}
#block-views-block-recent-posts-block-1 .item-list li:last-child{
    border-bottom: none;
}
#block-views-block-recent-posts-block-1 .item-list li .field-content a{
    color: #636363;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
#block-views-block-recent-posts-block-1  .more-link a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    color: #636363;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 10px;
}

/*Theme block*/
#block-views-block-themes-block-1{
    background-color: #d4d3d3;
    padding: 17px 13px 17px 13px;
}
#block-views-block-themes-block-1 .contextual-region{
    margin-left: 8px;
}
#block-views-block-themes-block-1 a{
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #636363;
}
#block-views-block-themes-block-1 .views-row {
    display: inline-block;
}
#block-views-block-themes-block-1 .views-row:nth-child(2) .views-field,#block-views-block-themes-block-1 .views-row:nth-child(3) .views-field,
#block-views-block-themes-block-1 .views-row:nth-child(4) .views-field{
    background-color: #9f9e9e;
    padding-left: 5px;
    padding-right: 5px;
}
#block-views-block-themes-block-1 .views-row:nth-child(2) a,#block-views-block-themes-block-1 .views-row:nth-child(3) a,
#block-views-block-themes-block-1 .views-row:nth-child(4) a{
    color: white;
    text-decoration: none;
}
#block-views-block-themes-block-1 .views-row:after {
    content: '/';
}
#block-views-block-themes-block-1 .views-row:last-child:after {
    content: '';
}
#block-views-block-themes-block-1 .views-field{
    display: inline-block;
}
/*Blog Contributors*/
#block-views-block-blog-contributers-block-1{
    background-color: #d4d3d3;
    padding: 17px 13px 17px 13px;
}
#block-views-block-blog-contributers-block-1 a{
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #636363;
    text-transform: capitalize;
}
#block-views-block-blog-contributers-block-1 .contextual-region{
    margin-left: 10px;
}

/*Comment*/
section[rel="schema:comment"]{
    margin-bottom: 60px;
}
section[rel="schema:comment"] mark{
    display: none;
}
section[rel="schema:comment"] h3{
    margin-bottom: 34px;
    margin-top: 0;
}
section[rel="schema:comment"] h3 a{
    color: #2274a3;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 26px;
    text-decoration: none;
    text-transform: capitalize;
}
section[rel="schema:comment"] .links{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
}
section[rel="schema:comment"] .links li{
    display: inline-block;
    padding-right: 15px;
}
section[rel="schema:comment"] .links li a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 26px;
    text-decoration: none;
    text-transform: lowercase;
    color: #2274a3;
}
section[rel="schema:comment"] .block-comment{
    border: 1px solid #ecedee;
    outline: 1px solid #ced2d5;
    padding: 22px 40px 22px 40px;
}

section[rel="schema:comment"] article{
    margin-bottom: 30px;
    margin-top: 13px;
}
section[rel="schema:comment"] .new-comment{
    margin-top: 50px;
}
section[rel="schema:comment"] article .comment_metadata{
    margin-top: 14px;
    margin-left: 10px;
    overflow: hidden;
}
section[rel="schema:comment"] article span[rel="schema:author"] a{
    color: #2274a3;
    font-size: 26px;
    font-family: 'PT Sans Narrow', sans-serif;
}
section[rel="schema:comment"] article .comment_metadata{
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.comment-arrow{
    position: absolute;
    left: -30px;
    top: 31px;
}
section[rel="schema:comment"] label{
    width: 190px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 26px;
    vertical-align: middle;
}
section[rel="schema:comment"] .js-form-type-textarea label{
    vertical-align: top;
}
section[rel="schema:comment"] input, section[rel="schema:comment"] textarea{
    max-width: 78%;
    display: inline-block;
}
section[rel="schema:comment"] .filter-wrapper{
    display: none;
}
section[rel="schema:comment"] .textarea-wrapper{
    display: inline-block;
    width: 78%;
}
section[rel="schema:comment"] input[type="text"]{
    height: 45px;
    border: 1px solid #636363;
}
section[rel="schema:comment"] .cke_chrome{ /*For editor box*/
    border: 1px solid #636363!important;
}
section[rel="schema:comment"] .form-item-name input{
    border: none;
    color: #2274a3;
    font-size: 26px;
    padding-left: 0;
}
section[rel="schema:comment"] input[type="submit"]{
    font-size: 26px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    border: none;
    background: none;
}
section[rel="schema:comment"] .form-actions{
    text-align: right;
    margin-left: 200px;
    width: 78%;
    margin-top: 15px;
}
/*Block list view*/
.block-list-view{
    list-style: none;
    padding: 0;
    margin-bottom: 17px;
}
.block-list-view li{
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 18px;
    padding-top: 8px;
}
.block-list-view h3{
    color: #636363;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
}
.block-list-view p ,.block-list-view p a{
    font-weight: lighter;
    color: #898989;
    font-size: 14px;
    font-family: 'Merriweather', serif;
}

/*Block grid view */
.block-grid-view{
    margin-top: 15px;
}
.block-grid-view span, .block-grid-view .overlay{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(110, 115, 108, 0.69);
    color: white;
    padding: 12px;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 100%
}
.block-grid-view span:parent,.block-grid-view .overlay:parent{
    position: relative;
}
.block-grid-view span p , .block-grid-view .overlay p {
    margin-top: 15px;
    border-top: 1px solid white;
    padding-top: 12px;
    font-family: 'Gentium Basic', serif;
    font-size: 16px;
}
.block-grid-view .img-container{
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}
.block-grid-view >.row .img-container:last-child{
    margin-right: 0px;
}
.block-grid-view>.container>.row{
    min-height: 450px;
    margin-bottom: 10px;
}
/***********************************/
/********* Inscription *************/
/***********************************/
	.break-link{
		word-break: break-all
	}

/*Search block*/
.search-block-form{
    background-color: #9f9e9e;
    padding: 25px 15px 25px 15px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.search-block-form a{
    color: white;
}
.search-block-form .search-filters{
    list-style: none;
    float: right;
    text-transform: none;
    font-family: 'Gentium Basic', serif;
    font-size: 15px;
}
.search-block-form .form-search{
    padding: 17px 20px 11px 20px;
    color: #949494;
    font-size: 15px;
    width: 68%;
    margin-right: 2px;
    border: none;
    font-family: 'Gentium Basic', serif;
}
.search-block-form .search-label{
    font-size: 24px;
    font-weight: normal;
    height: 19px;
    margin-right: 15px;
}
.btn-search, .btn-search:hover, .btn-search:focus{
    border: 1px solid white;
    background: transparent;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 19px;
    padding: 11px 24px 9px 24px;
}
.search-block-form input[type=checkbox]{
    vertical-align: top;
}
.search-block-form .search-filters span{
    padding-left: 10px;
}

/*Search results*/
.search-filter{
    font-family: "Gentium Basic", serif;
    font-size: 20px;
    color: #636363;
    margin-top: 30px;
}
.search-filter .refine-button a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #7f8275;
    text-decoration: none;
}
.search-filter .refine-content{
    margin-top: 20px;
    display: none;
}
.search-filter .search-query{
    padding-top: 13px;
}
.search-filter  .refine-button{
    /*border-top: 2px solid #7f8275;*/
    display: inline-block;
    padding-top: 13px;
    background-image: url('../images/refine-button-icon.png');
    background-repeat: no-repeat;
    background-position: right 13px;
    padding-right: 50px;
    padding-left: 5px;
}
.search-filter  .showbar{
    border-top: 2px solid #7f8275;
}
.search-filter .filter-form label{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #636363;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}
.search-filter .filter-form label span{
    padding-left: 7px;
}
.search-filter .filter-form-list{
    list-style: none;
    padding: 0;
    margin-right: -10px;
}
.search-filter .filter-form-list li{
    width: 19.5%;
    border: 1px solid #485342;
    margin-bottom: 4px;
    float: left;
    padding-left: 14px;
    padding-top: 7px;
    margin-right: 5px;
    padding-bottom: 7px;
}
.search-filter .filter-form-list li:last-child{
    background-color: #636363;
}
.search-filter .filter-form input[type="checkbox"]{
    margin-right: 10px;
}
.search-filter .filter-form button{
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background-color: #636363;
    border: none;
    color: white;
    padding: 0;
    margin-left: -7px;
}
#checkboxModal{
    font-family: "Gentium Basic", serif;
    font-size: 16px;
}
#checkboxModal #search-input{
    padding: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
}
#checkboxModal .modal-header{
    border: none;
    padding-bottom: 10px;
}
#checkboxModal .modal-header h4{
    font-family: "PT Sans Narrow";
    font-size: 30px;
    color: #636363;
    margin-top: 15px;
}
#checkboxModal .modal-footer{
    border: none;
    padding-right: 49px;
    padding-top: 5px;
}
#checkboxModal .modal-content{
    border: 1px solid #7e837a;
    border-radius: 0;
    padding-left: 29px;
    padding-bottom: 14px;
}
#checkboxModal .modal-body{
    padding-right: 49px;
    padding-top: 0;
}
#checkboxModal button{
    font-family: "Gentium Basic", serif;
    font-size: 16px;
    background: #636363;
    padding-top: 5px;
    padding-bottom: 5px;
}
#checkboxModal .close{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 0;
    background-image: url('../images/close-x.jpg');
    height: 23px;
    width: 23px;
    opacity: 1;
}
.predictive-search-content{
    height: 200px;
    overflow-y: scroll;
    margin-top: 26px;
}
.predictive-search-content ul{
    list-style: none;
    padding: 0;
}
.predictive-search-content ul li{
    color: #7f8275;
}
.predictive-search-content .checkbox span{
    padding-left: 5px;
}
.search-results-container{
    margin-top: 20px;
}
.search-results-container h2{
    display: none;
}
.search-results-container .block-title{
    margin-top: 15px;
}
.search-results-container .search-page-form,.search-results-container .pager__item--last,
.search-results-container .pager__item--first{
    display: none;
}
.search-results-container .style-grid li:nth-child(5n){
    margin-right: 0;
}
.search-results-container .style-grid li{
    width: 226px;
}
.search-results-container .style-grid .image-block{
    width: 226px;
}
.search-results-container .style-grid .image-block img{
    width: 100%;
}

.search-statistics{
    width: 300px;
    text-align: left;
}
.search-statistics, .search-per-page select{
    font-size: 17.79px;
    font-family: 'PT Sans', sans-serif;
    color: #636363;
    text-transform: none;
}
.search-per-page{
    border: none;
    text-align: left;
}
.search-per-page select{
    border: none;
    background-color: transparent;
}
.search-per-page select option{
    background-color: transparent;
}
.style-list, .style-grid{
    list-style: none;
    padding-left: 0;
}
.style-list .image-block{
    height: 155px;
    width: 155px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.style-list .image-block img{
    height: 100%;
    width: 100%;
}
.style-list .content-block{
    min-height: 137px;
    display: inline-block;
    width: 69%;
    padding-left: 20px;
    /*padding-bottom: 25px;*/
    padding-top: 32px;
}
.style-list li{
    background-color: #f2f2f2;
    margin-bottom: 8px;
}
.style-list h3{
    margin-top: 0;
}
.style-list h3 a, .style-grid h3 a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: #636363;
    text-decoration: none;
    text-transform: uppercase;
}
.style-list p{
    font-size: 19px;
}
.style-list .grid-teaser{
    display: none;
}
.search-social-icons{
    display: block;
    margin-top: 43px;
    margin-right: 24px;
}
.search-social-icons .addtolist{
    margin-bottom: 18px;
}
.search-social-icons .addtolist a{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    color: #485342;
    text-decoration: none;
    text-transform: uppercase;
	display: none;
	visibility: hidden;
}
.search-social-icons ul{
    padding-left: 0;
}
.search-social-icons li{
    list-style: none;
    float: left;
    margin-right: 5px;
}
.search-social-icons li a{
    width: 25px;
    height: 20px;
    display: inline-block;
    text-indent: -99999px;
    background-image: url('../images/search-social-icons.png');
}
.search-social-icons .twitter{
    background-position: 0px 0px;
}
.search-social-icons .facebook{
    background-position: -110px 0px;
}
.search-social-icons .instagram{
    background-position: 24px 0px;
}
.style-grid{

}
.style-grid li{
    width: 212px;
    float: left;
    margin-right: 10px;
    /*min-height: 373px;*/
    min-height: 360px;
}
.style-grid .list-teaser{
    display: none;
}
.style-grid .search-social-icons{
    display: none;
}
.style-grid .image-block{
    height: 212px;
    width: 212px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}
.style-grid .image-block a{
    display: block;
    position: relative;
}
.style-grid .image-block a:hover >.overlay{
    display: block;
}
.style-grid .image-block .overlay{
    display: none;
    position: absolute;
    top: 0;
}

.style-grid h3{
    margin-top: 5px;
    line-height: 0.9em;
}
.style-grid h3 a{
    font-size: 16px;
}
.style-grid p{
    font-size: 16px;
}
.style-grid p a, .style-grid p a:hover, .style-grid p a:focus{
    text-decoration: none;
    font-size: inherit;
    color: inherit
}
/*Contact forms*/
.join-mailing-list-block-form,
.receive-idp-news-block-form,
.send-comments-block-form,
.access-to-collections-block-form
{
    font-family: "Gentium Basic", serif;
    font-size: 16px;
    color: #636363;
    background-color: #f2f2f2;
    padding: 9px 23px 24px 26px;
    margin-bottom: 20px;
}

.join-mailing-list-block-form h2,
.receive-idp-news-block-form h2,
.send-comments-block-form h2,
.access-to-collections-block-form h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: #636363;
}

.join-mailing-list-block-form p,
.receive-idp-news-block-form p,
.send-comments-block-form p,
.access-to-collections-block-form p{
    font-family: "Gentium Basic", serif;
    font-size: 16px;
    color: #636363;
}

.join-mailing-list-block-form label,
.receive-idp-news-block-form label,
.send-comments-block-form label,
.access-to-collections-block-form label{
    display: none;
}

.join-mailing-list-block-form input[type=submit],
.receive-idp-news-block-form input[type=submit],
.send-comments-block-form input[type=submit],
.access-to-collections-block-form input[type=submit],
.browse-catalogues-block-form  input[type=submit],
.search-by-objectid-block-form input[type=submit],
.build-search-block-form input[type=submit],
.build-search-block-form input[type=button]
{
    color:#898989;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    padding: 10px 28px;
    background-color: transparent;
    border: 1px solid #898989;
    line-height: 1;
    float: right;
}
.join-mailing-list-block-form input[type=submit]:hover,
.receive-idp-news-block-form input[type=submit]:hover,
.send-comments-block-form input[type=submit]:hover,
.access-to-collections-block-form input[type=submit]:hover
{
    background-color:#fbfbfb;
}


.join-mailing-list-block-form form::after,
.receive-idp-news-block-form form::after,
.send-comments-block-form form::after,
.access-to-collections-block-form form::after{
    content: '';
    display: block;
    clear: both;
}

.form-select,.form-text,.form-email,.form-textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-family: "Gentium Basic", serif;
    font-size: 16px;
    color: #636363;
    background-color: #fff;
    background-image: none;
    border: 1px solid #989e95;
    margin-bottom: 12px;
}

.form-text,.form-email{
    height: 27px;
}

.form-text.error,.form-email.error,.form-textarea.error{
    box-shadow: 0px 0px 0px 4px #eaafaf;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form-select:focus,.form-text:focus,.form-email:focus,.form-textarea:focus{
    box-shadow: 0px 0px 0px 4px #dbdbdb;
}
.form-select{
    padding: 3px 12px;
}
.join-mailing-list-block-form .js-form-item-name,.join-mailing-list-block-form .js-form-item-surname,
.receive-idp-news-block-form .js-form-item-name,.receive-idp-news-block-form .js-form-item-surname,
.send-comments-block-form .js-form-item-fullname, .send-comments-block-form .js-form-item-email,
.access-to-collections-block-form .js-form-item-fullname, .access-to-collections-block-form .js-form-item-email{
    width: 48%;
    display: inline-block;
}
.join-mailing-list-block-form .js-form-item-surname,.receive-idp-news-block-form .js-form-item-surname,
.send-comments-block-form .js-form-item-email, .access-to-collections-block-form .js-form-item-email{
    float: right;
}
.receive-idp-news-block-form .js-form-item-address .form-textarea{
    height: 55px;
}

.send-comments-block-form .form-textarea, .access-to-collections-block-form  .form-textarea{
    height: 198px;
}

.access-to-collections-block-form #viewInfo{
    color: #898989;
    text-decoration: underline;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
}

.access-to-collections-block-form #topText{
    margin-bottom: 29px;
    margin-top: 25px;
}

.contact-bottom-text{
    font-size: 16px;
    text-align: center;
    color: #636363;
    margin-top: 10px;
}

/*Discovery Forms*/
.browse-catalogues-block-form, .search-by-objectid-block-form,.build-search-block-form {
    padding: 32px 27px 29px 24px;
    background-color: #f2f2f2;
}
.browse-catalogues-block-form h2, .search-by-objectid-block-form h2,.build-search-block-form h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 26px;
    color: #636363;
    text-transform: uppercase;
    margin-top: 0;
}
.browse-catalogues-block-form #searchtips, .search-by-objectid-block-form #searchtips, .build-search-block-form #searchtips{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    color: #636363;
    position: absolute;
    text-decoration: underline;
    top: 32px;
    right: 27px;
}
.browse-catalogues-block-form, .search-by-objectid-block-form, .build-search-block-form{
    font-family: "Gentium Basic";
    font-size: 16px;
    color: #636363;
}
.browse-catalogues-block-form legend, .search-by-objectid-block-form legend{
    border: none;
}
.browse-catalogues-block-form .fieldset-legend, .search-by-objectid-block-form .fieldset-legend{

}
.browse-catalogues-block-form p a, .search-by-objectid-block-form p a{
    text-decoration: none;
    color: #636363;
}
.browse-catalogues-block-form .form-item-name label, .search-by-objectid-block-form .form-item-object-id label, .search-by-objectid-block-form .fieldset-legend{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: #636363;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 8px;
}
.browse-catalogues-block-form  input[type=submit],
.search-by-objectid-block-form input[type=submit],
.build-search-block-form input[type=submit],
.build-search-block-form input[type=button]{
    background-color: #f2f2f2;
    padding: 9px 28px 8px 28px;
    margin-top: 2px;
}
.build-search-block-form input[type=button]{
    float: none;
    background-color: #898989;
    color: white;
    background-image: url('../images/button-plus.png');
    background-repeat: no-repeat;
    background-position: 8px 7px;
    padding: 9px 28px 8px 43px;
}
.browse-catalogues-block-form  #resultcount,
.search-by-objectid-block-form #resultcount,
.build-search-block-form #resultcount{
    font-family: "Gentium Basic";
    font-size: 20px;
    font-weight: normal;
    text-transform: capitalize;
    color: #636363;
    display: block;
    padding-top: 8px;
    padding-right: 7px;
}
.build-search-block-form #resultcount{
    display: inline-block;
    padding-right: 20px;
}
.browse-catalogues-block-form  .form-item-showall-parent{
    position: absolute;
    right: 27px;
    margin-top: 5px;
}
.browse-catalogues-block-form  .form-item-showall-parent label{
    padding-left: 27px;
}
.browse-catalogues-block-form::after,
.search-by-objectid-block-form::after{
    clear: both;
    display: table;
    content: "";
    line-height: 0;
}
.browse-catalogues-block-form::before,
.search-by-objectid-block-form::before{
    display: table;
    content: "";
    line-height: 0;
}

.browse-catalogues-block-form p[data-drupal-selector=edit-description],
.search-by-objectid-block-form p[data-drupal-selector=edit-description]{
    height: 87px;
}
.browse-catalogues-block-form #edit-searchblock legend{
    display: none;
}
.search-by-objectid-block-form .select-by-range-parent label{
    display: none;
}
.search-by-objectid-block-form .select-by-range-parent legend{
    margin-bottom: 6px;
}
.search-by-objectid-block-form .select-by-range-parent input[type=text]{
    width: 95px;
}
.search-by-objectid-block-form .select-by-range-parent .form-item-from{
    float: left;
}
.search-by-objectid-block-form .select-by-range-parent .form-item-to{
    float: right;
}
.search-by-objectid-block-form .form-item-only-images{
    margin-top: 12px;
}

.build-search-block-form{
    margin-bottom: 16px;
}
.build-search-block-form input[type=button]{

}

.build-search-block-form .search-list{
    padding: 0;
    list-style: none;
}
.build-search-block-form .search-list .btn-close{
    background-image: url('../images/button-close.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    height: 21px;
    display: inline-block;
    width: 20px;
    float: right;
}
.build-search-block-form .search-list .and-or-switch{
    font-size: 18px;
}
.build-search-block-form .search-list li{
    border-bottom: 1px solid white;
    padding-top: 12px;
}
.build-search-block-form .search-list li:after{
    background: none;
    border-bottom: 1px solid #9fa198;
    content: "";
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}
.build-search-block-form .search-list li:last-child{
    border-bottom: none;
}
.build-search-block-form .search-list .show-all-container{
    padding-top: 5px;
}
.build-search-block-form .search-list .form-text{
    height: 29px;
}
.build-search-block-form .search-list .inactive-result{
    background-color: #e6e6e5;
}
.build-search-block-form .search-list .sample-content{
    display: none;
}
/*.discover-resource .block-title{
    border-color: white;
}*/

/* Object */
.object .object-section-header{
    color: #636363;
    font-size: 22px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.object .object-title-block h2{
    color: #7f8275;
    font-family: "PT Sans Narrow";
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 7px;
}
.object .object-navigation a{
    display: inline-block;
    text-transform: uppercase;
    color: #898989;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
    border-bottom: 1px solid #c2c2c2;
}
.object .object-navigation .prev-obj{
    display: inline-block;
    height: 27px;
    border-right: 1px solid #7f8275;
    padding-right: 20px;
    padding-left: 35px;
    background-image: url('../images/obj-nav-left-arrow.png');
    background-repeat: no-repeat;
    background-position: left;
}
.object .object-navigation .next-obj{
    display: inline-block;
    height: 27px;
    padding-left: 20px;
    padding-right: 35px;
    background-image: url('../images/obj-nav-right-arrow.png');
    background-repeat: no-repeat;
    background-position: right;
}
.object .object-navigation > div{
    margin-bottom: 17px;
}
.object .object-navigation a:after {
    background: none;
    border-bottom: 1px solid #dedede;
    content: "";
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.object .object-detail-block{
    background-color: #f2f2f2;
    padding: 50px 22px 40px 30px;
    font-family: "Gentium Basic", serif;
    font-size: 16px;
    color: #636363;
}

.object .more-block{
    display: none;
}

.object .object-detail-block .less-block .more-button{
    color: #636363;
    border-bottom: 1px solid #636363;
    text-decoration: none;
}

.object .object-list-left{
    padding-left: 55px;
}

.object .object-list-right{
    padding-right: 55px;
}

.object .object-list{
    margin-top: 50px;
}

.object .object-list-left label, .object .object-list-right label{
    text-transform: uppercase;
    font-family: "PT Sans Narrow";
    font-size: 16px;
    font-weight: normal;
    width: 170px;
    text-align: right;
}

.object .object-list-left table a, .object .object-list-right table a, .object .object-catalogues .content-footer a{
    font-family: "Gentium Basic", serif;
    font-size: 16px;
    text-decoration: none;
    color: #636363;
    line-height: 15px;
    border-bottom: 2px solid #b3b3b3;
    display: inline-block;
}

.object .object-catalogues .content-footer a{
    margin-right: 30px;
}

.object .object-catalogues .panel-title a,.object .object-translations .panel-title a{
    width: 100%!important;
    height: 100%!important;
    background-position: right!important;
    top: 0px!important;
}
.object .object-catalogues .panel-title a.expanded,.object .object-translations .panel-title a.expanded{
    background-repeat: no-repeat!important;
    background-position: right!important;
}

.object .object-list-left table tr td:nth-child(2n), .object .object-list-right table tr td:nth-child(2n){
    padding-left: 15px;
}

.object .object-list-left table td, .object .object-list-right table td{
    vertical-align: baseline;
    padding-bottom: 5px;
}

.object-analysis, .object-translations, .object-catalogues{
    background-color: #f2f2f2;
    margin-top: 15px;
}

.object #accordion .panel-heading {
    background-color: white;
    border-color: white;
    padding: 20px;
}

.object #accordion .panel-title {
    background-color: white;
    font-family: "Gentium Basic", serif;
    font-size: 20px;
    font-weight: bold;
    color: #636363;
    text-transform: none;
}
.object #accordion .panel-body{
    background-color: white;
    padding-top: 0;
    padding-bottom: 23px;
}

.object #accordion .panel-title .panel-sub-title-show {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #636363;
    font-weight: normal;
}
.object .object-catalogues .content-body{
    margin-bottom: 25px;
}

.object .object-analysis .content-body{
    background-color: white;
    padding-top: 40px;
    border: none;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
.object .object-analysis .image-section{
    margin-bottom: 32px;
    padding-top: 35px;
    font-size: 18px;
}
.object .object-analysis .image-section span{
    display: block;
    margin-bottom: 25px;
}
.object .object-analysis .image-section img{
    max-width: 100%;
    height: auto;
}

.object .object-analysis .less-block .more-button{
    color: #636363;
    border-bottom: 1px solid #636363;
    text-decoration: none;
}

.object .object-gallery{
    background-color: #f2f2f2;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 35px;
}
.object .object-gallery .gallery-content h3{
    font-family: "Gentium Basic", serif;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #7f8275;
    padding-bottom: 18px;
}
.object .object-gallery .object-list{
    margin-top: 20px;
}
.object .object-gallery .object-list-left{
    padding-left: 0;
}
.object .object-gallery .object-list-right{

}
.object .object-gallery .gallery-content h3 b{
    padding-right: 20px;
}
.object .gallery-credits{
    font-family: "Gentium Basic", serif;
    font-size: 16px;
    color: #636363;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*Footer*/
footer{
    margin-top: 40px;
    margin-bottom: 40px;
}
footer .container{
    background-color: #aaaaaa;
}

/*Footer Navigation*/
footer .navbar-nav>li>a{
    color: #ffffff;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 25px 0px 25px 0px;
    padding: 0px 15px 0px 15px;
    border-right: 1px solid #ffffff;
    text-decoration: none;
}
footer .navbar-nav>li:last-child>a{
    border-right: none;
}
footer .navbar-nav>li>a:hover{
    background-color: transparent;
}

.social-icons{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
	display: none;
	visibility: hidden;
}
.social-icons li{
    list-style: none;
    float: left;
    margin-right: 5px;
}
.social-icons li a{
    width: 29px;
    height: 29px;
    display: inline-block;
    text-indent: -99999px;
    background-image: url('../images/social-icons.png');
}
.social-icons .pinterest{
    background-position: -0px 0px;
}
.social-icons .youtube{
    background-position: -34px 0px;
}
.social-icons .flickr{
    background-position: -68px 0px;
}
.social-icons .twitter{
    background-position: -102px 0px;
}
.social-icons .facebook{
    background-position: -136px 0px;
}

.hp-blog-latest{
    margin-bottom: 15px;
}

.latest-from-blog .jcarousel-control-prev, .latest-from-blog .jcarousel-control-prev:hover, .latest-from-blog .jcarousel-control-prev:focus{
    background-image: url('../images/slider-arrow-left.png');
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 54px;
    width: 29px;
    margin-left: -55px;
}
.latest-from-blog .jcarousel-control-next, .latest-from-blog .jcarousel-control-next:hover, .latest-from-blog .jcarousel-control-next:focus{
    background-image: url('../images/slider-arrow-right.png');
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 54px;
    width: 29px;
    margin-right: -55px;
}

.sharebutton{
    padding-left: 29px;
    display: inline-block;
    background-image: url('../images/shareicon.png');
    background-repeat: no-repeat;
    background-position: left;
    color: #7f8275!important;
    font-family: 'PT Sans Narrow', sans-serif!important;
    font-size: 16px!important;
    text-transform: uppercase;
    text-decoration: none!important;
    min-height: 18px;
    border-bottom: none!important;
    vertical-align: bottom;
}
.object-analysis .sharebutton{
    font-family: "PT Sans"!important;
    color: #636363!important;
    margin-top: 20px;
}

.pagination-nav{
    display: inline-block;
    margin-left: 25px;
    width: 250px;
    text-align: center;
    position: relative;
}
.pagination-nav .pager{
    margin: 0;
    text-transform: capitalize;
    position: relative;
}
.pagination-nav .pager ul{
    padding: 0;
    position: relative;
}
.pagination-nav .pager .is-active a{
    padding-top: 14px;
    padding-bottom: 14px;
}


/* 3*/

 
.pagination-nav .pager2{
    margin: 0;
    text-transform: capitalize;
    position: relative;
}
.pagination-nav .pager2 ul{
    padding: 0;
    position: relative;
}
.pagination-nav .pager2 .is-active a{
    padding-top: 14px;
    padding-bottom: 14px;
}


/*Language selector*/
.language-switcher-language-url{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.language-switcher-language-url .links{
    list-style: none;
    margin-top: 20px;
    padding: 0;
    width: auto;
    min-width: 125px;
    display: none;
    background-color: white;
    text-align: left;
    padding-right: 10px;
    padding-top: 17px;
    border: 1px solid #cccccc;
    padding-bottom: 18px;
    padding-left: 10px;
    z-index: 99999;
    margin-left: -50px;
}

.language-switcher-language-url .links {
    position: relative;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 6px #eeeeee;
}
.language-switcher-language-url .links:after, .language-switcher-language-url .links:before {
    bottom: 100%;
    left: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.language-switcher-language-url .links:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
.language-switcher-language-url .links:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #cccccc;
    border-width: 11px;
    margin-left: -11px;
}

.language-switcher-language-url ul li{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
    line-height: 0.7em;
}
.language-switcher-language-url ul li:hover{
    background-color: #e3e3e3;
}
.language-switcher-language-url ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}
.language-switcher-language-url ul .is-active{
}
.language-switcher-language-url  .current-lang{
    text-align: right;
    padding-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #636363;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 100%;
    background-image: url('../images/dropdown-arrow.png');
    background-repeat: no-repeat;
    background-position: right;
}
.language-switcher-language-url .language-container{
    padding-top: 10px;
    width: 75px;
}
.top-navbar{
/*    position: relative; */
}
.top-navbar .navbar-nav{
    margin-right: 0;
    z-index: 1000;
}

.hp-resources .block-grid-view .img-container span p, .suggestions .block-grid-view .img-container span p,.resources .block-grid-view .img-container span p,
.hp-resources .block-grid-view .img-container .overlay p, .suggestions .block-grid-view .img-container .overlay p,.resources .block-grid-view .img-container .overlay p{

    display: none;
}
.hp-resources .block-grid-view .img-container:hover p,.suggestions .block-grid-view .img-container:hover p, .resources .block-grid-view .img-container:hover p{
    display: block;
}

/*Accordian*/
#accordion .panel{
    border: none;
    margin-top: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #f2f2f2;
}
#accordion .panel-heading{
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    padding:20px;
}
#accordion .panel-title{
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #636363;
    border: none;
    background-color: #f2f2f2;
}
#accordion .panel-title .panel-sub-title,#accordion .panel-title .panel-sub-title-show{
    font-size: 16px;
    text-transform: none;
}
#accordion .panel-title a {
    text-decoration: none;
    color: rgba(127, 130, 117, 0);
    font-size: 63px;
    line-height: 0;
    position: absolute;
    background: url('../images/btn-plus-grey.png');
    background-position: 0 0;
    height: 30px;
    right: 0px;
    top: 12px;
    background-repeat: no-repeat;
    font-family: monospace;
    width: 30px;
}
#accordion .panel-title a.expanded {
    background: url('../images/btn-minus-grey.png');
}
#accordion .panel-body{
    background-color: #f2f2f2;
    border: none;
    padding-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;
}
#accordion .panel-body p{
    font-family: "Gentium Basic", serif;
    font-size: 16px;
}

/*jcarousel*/
.jcarousel-wrapper {
    margin: 0px auto;
    position: relative;
    border: none;
    margin-bottom: 15px;
}

/** Carousel **/

.jcarousel li span{
    display: block;
    position: absolute;
    bottom: 0;
    background: rgba(110, 115, 108, 0.69);
    color: white;
    padding: 12px;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    width:100%;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 7px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next ,.jcarousel-control-next:hover,.jcarousel-control-next:focus,
.jcarousel-control-prev:hover,.jcarousel-control-prev:focus
{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: transparent;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 92px/27px 'Gentium Basic', sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

.jcarousel-pagination{
    display: none;
}

/*On Off switch*/
.onoffswitch-container{
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    vertical-align: middle;
}
.onoffswitch {
    position: relative; width: 34px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #898989; border-radius: 20px;
    margin-bottom: 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #898989; color: #898989;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #898989; color: #898989;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 15px; margin: 2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 15px;
    border: 1px solid #898989; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*Object Slider*/
.rg-image-wrapper{
    position:relative;
    padding:20px 30px;
    /*background:transparent url(../images/black.png) repeat top left;*/
    background: black;
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;*/
    min-height:20px;
}
.rg-image{
    position:relative;
    text-align:center;
    line-height:0px;
}
.rg-image img{
    max-height:100%;
    max-width:100%;
}
.rg-image-nav a{
    position:absolute;
    top:0px;
    left:0px;
    background:#000 url(../images/nav.png) no-repeat -20% 50%;
    width:28px;
    height:100%;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.3;
    outline:none;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
    right:0px;
    left:auto;
    background-position:115% 50%;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
    opacity:0.8;
}
.rg-caption {
    text-align:center;
    margin-top:15px;
    position:relative;
}
.rg-caption p{
    font-size:11px;
    letter-spacing:2px;
    font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    line-height:16px;
    padding:0 15px;
    text-transform:uppercase;
}
.rg-view{
    height:30px;
    display: none; /*added*/
}
.rg-view a{
    display:block;
    float:right;
    width:16px;
    height:16px;
    margin-right:3px;
    background:#464646 url(../images/views.png) no-repeat top left;
    border:3px solid #464646;
    opacity:0.8;
}
.rg-view a:hover{
    opacity:1.0;
}
.rg-view a.rg-view-full{
    background-position:0px 0px;
}
.rg-view a.rg-view-selected{
    background-color:#6f6f6f;
    border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
    background-position:0px -16px;
}
.rg-loading{
    width:46px;
    height:46px;
    position:absolute;
    top:50%;
    left:50%;
    background:#000 url(../images/ajax-loader.gif) no-repeat center center;
    margin:-23px 0px 0px -23px;
    z-index:100;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity:0.7;
}
.es-carousel-wrapper{
    background: black!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
    box-shadow: none!important;
}

/*Mobile styles*/

@media (max-width: 375px) {
    .build-search-block-form #searchtips {
        top:15px;
    }
    .build-search-block-form h2 {
        margin-top:20px;
    }
    .browse-catalogues-block-form #searchtips {
        top:15px;
    }
    .search-by-objectid-block-form #searchtips {
        top:5px;
    }
    .browse-catalogues-block-form p[data-drupal-selector=edit-description] {
        min-height:180px !important;
    }
    .object .object-navigation .prev-obj {
        padding-right:10px;
    }
    .object .object-navigation .next-obj {
        padding-left:10px;
    }
    .block-title .main-title {
        padding: 0 1px;
    }
    .block-title .main-title {
        font-size:22px;
    }
}
@media (min-width: 376px) and (max-width: 500px) {
	.bg-conent label{    
    text-align: left;
}
}

@media (max-width: 430px) {
    .object .object-list-left table td, .object .object-list-right table td {
        display: block;
        width: 99.9%;
        clear: both;
    }
    .object .object-list-left label, .object .object-list-right label {
        text-align:left;
    }
    .object .object-list-left table tr td:nth-child(2n), .object .object-list-right table tr td:nth-child(2n) {
        padding-left:0;
    }
    .col-lg-7.object-list-left, .col-lg-5.object-list-right {
        padding-left:15px !important;
    }

    .object .object-list-right {
        padding-left:0;
    }
    .object .object-gallery .gallery-content h3 b {
        clear: both;
        width: 100%;
        text-align: center;
        float: left;

    }
}

@media (max-width: 501px) {
    .search-results-container {
        margin-top:100px;
    }
    .suggestions .block-title .main-title {
        padding: 0 50px;
    }
    .resources .block-title .main-title {
        padding: 0 5px;
    }
    .team-page img, .publications-page img {
        width:100% !important;
        margin-bottom:10px;
    }
}
@media (min-width: 502px) and (max-width: 520px) {
    .search-results-container {
        margin-top:85px;
    }
}
@media (min-width: 501px) {

}
@media (min-width: 501px) and (max-width: 725px) {
    .search-results-container .style-grid li {
        width:48%;
    }
    .search-results-container .style-grid .image-block {
        width:100%;
        height:auto;
    }
}
@media (max-width: 500px) {
    /*	.block-title #list-link {
            display: block;
            top: 17px;
            position: relative;
            left: 10px;
                    z-index:1000;
    }*/

    .block-title .right-menu {
        top:0px;
    }
    .block-title {
        margin: 31px 0 40px;
    }
    .hp-resources .block-title {
        margin: 50px 0 40px;
    }
    .simple-header.partofcontent {
        font-size: 20px !important;
    }
}

@media (max-width: 520px) {
    #block-thetaklamakan-branding img {
        padding-left:20px !important;
    }
    /* typography tweaks */
    .page-header h1 {
        font-size:27px;
    }
    .page-header p {
        font-size: 18px;
        line-height: 22px;
    }
    .block-thetaklamakan-branding img {
        margin-left:20px;
    }
    /* search block tweaks */
    div.search-block-form .col-lg-10 {
        width:100%;
    }
    div.search-block-form .form-search {
        width:100%;
    }
    div.search-block-form .col-lg-10 .search-label {
        margin-bottom: 20px;
    }
    /*div.search-block-form .container-fluid .row {
            max-height:170px;
    }*/
    div.search-block-form .col-lg-10 .btn-search {
        margin-top: 15px;
    }
    div.search-block-form {
        max-height: 240px;
    }
    div.search-block-form .col-lg-2.pull-right {
        position: relative;
        top: -45px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-left {
        position:relative;
        top:-35px;
        z-index:1000;
        width:170px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right {
        position:relative;
        top:-60px;
    }
    /* resources list view tweaks */
    div.hp-resources .block-list-view  {
        padding: 0 15px;
    }

    /* resources and blog titles */
    .hp-blog-latest .block-title .main-title, .hp-resources .block-title .main-title {
        padding: 0 20px;
    }
    /* search results page tweaks */
    div.search-query {
        margin: 0 15px;
    }
    .search-filter .refine-button {
        margin-right:15px;
    }
    h2.block-title .search-statistics {
        min-height:30px;
    }
    .block-title .list-icon {
        margin-right:15px;
    }
    .block-title .grid-icon {
        margin-right:15px;
    }

    .search-per-page {
        min-height:35px;
        line-height:30px;
    }
    .search-filter .filter-form-list li {
        width:90%;
        margin: 6px 15px;
    }
    .search-statistics {
        text-align:center;
    }
    .block-title .main-title {
        padding: 0 10px;
    }
    .object .object-list-left label, .object .object-list-right label {
        display:inherit;
    }
    .object .object-list-left {
        padding-left:0;
    }
}

@media (max-width: 727px) {
    ol.search-results.style-list .image-block {
        display:none;
    }
}

@media (max-width: 767px) {
    .language-switcher-language-url {
        right:15px;
    }
    .block-grid-view .col-xs-6.nopadding {
        width:100%;
    }
    .block-grid-view .container .row .col-sm-6.nopadding .img-container {
        margin-right:0px !important;
    }
    .block-grid-view .img-container {
        margin-right:0px;
        margin-bottom:10px;
    }
    .block-grid-view .img-container img {
        width:100%;
        height:auto;
    }
    footer .navbar-nav>li {
        border-right: #ffffff !important;
    }
    .search-results-container .style-grid li {
        width:100%;
    }
    .search-results-container .style-grid .image-block {
        width:100%;
        height:auto;
    }
    /*
    .block-grid-view .container .row .col-sm-6.nopadding .container-fluid .img-container {
            margin-right:10px;
    }
    .block-grid-view .container .row .col-sm-3.nopadding .img-container {
            margin-right:0px;
            }
    .block-grid-view .container-fluid {
            clear:both;
    }*/
    ol.search-results.style-grid .content-block {
        margin: 0 15px;
    }
    div.search-query {
        margin-bottom:15px;
    }
    #block-thetaklamakan-content h3 {
        font-size:20px;
        text-align:center;
    }
    #accordion .panel-title .panel-sub-title {
        margin-right:40px;
    }
    .col-lg-12.object-analysis .col-lg-3 {
        width:100%;
    }
    .col-lg-12.object-analysis .col-lg-3 img {
        width:100%;
        height:auto;
    }
}
@media (max-width: 768px) {

    .row {
        margin-left:0px;
        margin-right:0px;
    }
    .container>.navbar-header {
        margin-left:0px;
        margin-right:0px;
    }
    .container-fluid {
        padding-right:0;
        padding-left:0;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .search-statistics {
        display:block !important;
    }
}
@media (min-width: 521px) and (max-width: 767px) {
    #block-thetaklamakan-branding img {
        padding-left:20px !important;
    }
    /* typography tweaks */
    .page-header h1 {
        font-size:34px;
    }
    .page-header p {
        font-size: 18px;
        line-height: 22px;
    }
    .block-thetaklamakan-branding img {
        margin-left:20px;
    }
    /* search block tweaks */
    div.search-block-form .col-lg-10 {
        width:79%;
    }
    div.search-block-form {
        max-height: 175px;
    }
    div.search-block-form .col-lg-2.pull-right {
        position: relative;
        top: -42px;
    }
    div.search-block-form .col-lg-10 .search-label {
        margin-bottom: 20px;
    }
    div.search-block-form .container-fluid .row {
        max-height:100px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-left {
        position:relative;
        z-index:1000;
        width:170px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right {
        top:-25px;
    }
    /* resources image grid tweaks */
    div.hp-resources .block-grid-view .img-container img {
        width:100%;
        height: auto;
    }
    /* resources list view tweaks */
    div.hp-resources .block-list-view  {
        padding: 0 15px;
    }
    div.search-query {
        margin: 0 15px;
    }
    /* search results page tweaks */
    div.search-query {
        margin: 0 15px;
    }
    .search-filter .refine-button {
        margin-right:15px;
    }
    h2.block-title .search-statistics {
        min-height:30px;
        margin-top:10px;
    }
    .block-title .list-icon {
        margin-right:15px;
    }
    .block-title .grid-icon {
        margin-right:15px;
    }

    .search-per-page {
        min-height:35px;
    }
    .search-results-container {
        margin-top:75px;
    }
    /*.block-title #list-link {
        display: block;
        top: -26px;
        position: relative;
        left: 10px;
    }*/
    .search-filter .filter-form-list li {
        width:90%;
        margin: 6px 15px;
    }
    .search-statistics {
        margin-left:10px;
    }
}
@media (min-width: 768px) {
    .col-lg-12.object-analysis .col-lg-3 {
        width:49%;
        float:left;
    }
    .col-lg-12.object-analysis .col-lg-3 img {
        width:100%;
        height:auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* search block tweaks */
    div.search-block-form .col-lg-10 {
        width:79%;
    }
    div.search-block-form {
        max-height: 175px;
    }
    div.search-block-form .col-lg-2.pull-right {
        position: relative;
        top: -42px;
    }
    div.search-block-form .col-lg-10 .search-label {
        margin-bottom: 20px;
    }
    div.search-block-form .container-fluid .row {
        max-height:100px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-left {
        position:relative;
        z-index:1000;
        width:170px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right {
        top:-25px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right a {
        right: 171px;
        position: relative;
    }
    .search-results-container {
        margin-top:50px;
    }
    .search-filter .filter-form-list li {
        width:31%;
        margin: 6px 7px;
    }
    search-block-form .search-label {
        margin-bottom: 15px;
        display: block;
    }
}
@media (max-width: 991px) {
    .blog-content .share-icons {
        text-align:center;
    }
    .blog-content .author-details {
        margin: 15px 0;
    }
    .blog-content .comment-count-wrapper {
        text-align: center;
    }
    .article-sidebar.nopadding-right {
        padding-left:0;
    }
    .jcarousel li span {
        font-size:16px;
        line-height:18px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* search block tweaks */
    div.search-block-form .col-lg-10 {
        width:100%;
    }
    div.search-block-form {
        max-height: 175px;
    }
    div.search-block-form .col-lg-2.pull-right {
        position: relative;
        top: 12px;
    }
    div.search-block-form .col-lg-2.pull-right .search-filters {
        width:250px;
    }
    div.search-block-form .col-lg-2.pull-right .search-filters li {
        width:100px;
        float:left;
    }
    div.search-block-form .col-lg-10 .search-label {
        margin-bottom: 20px;
    }
    div.search-block-form .container-fluid .row {
        max-height:100px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-left {
        position:relative;
        z-index:1000;
        top:10px;
        width:170px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right {
        top:-15px;
    }
    .search-filter .filter-form-list li {
        width:31%;
        margin: 6px 7px;
    }
}

@media (max-width: 1199px) { 
    .build-search-block-form .search-list .and-or-switch {
        position: relative;
        top: -27px;
    }
    .build-search-block-form .search-list .btn-close {
        top: -15px;
        position: relative;
    }
    .build-search-block-form.contextual-region.clearfix .col-lg-9.nopadding-left.text-align-left {
        padding-right:0px;
        margin-bottom:10px;
    }
    .build-search-block-form input[type=button] {
        width: 100%;
    }
    .browse-catalogues-block-form p[data-drupal-selector=edit-description] {
        min-height:140px;
    }
    .search-by-objectid-block-form p[data-drupal-selector=edit-description] {
        min-height:140px;
    }
    .col-lg-5.nopadding-right.select-by-range-parent {
        padding-left:0;
    }
    .build-search-block-form .search-list li .col-lg-3 {
        padding-left:0;
    }
    .panel-group {
        padding-top: 5px;
        padding-bottom:15px;
    }
    .col-lg-12.object-translations {
        padding-top: 5px;
    }
    .col-lg-12.object-analysis {
        padding-top: 5px;
        padding-bottom:15px;
    }
}

.block-title #grid-link {
    z-index:1000;
}
.block-title #list-link {
    z-index:1000;
}
footer .navbar-nav>li>a {
    color:#636363;
    border-right: 0;
    margin: 3px 7px 7px 7px;
    padding: 13px 18px 10px 15px;
}

footer .navbar-nav>li>a:hover, footer .navbar-nav>li> .is-active {
    background: #eee;
}
footer .navbar-nav>li {
    border-right: 1px solid #636363;
}
footer .container {
    background-color: #ffffff;
}
.and-or-switch {
    text-transform:uppercase;
    font-family:'PT Sans Narrow', sans-serif;
}
a#searchtips {
    text-transform:uppercase;
}
.build-search-block-form .search-list .btn-close {
    height: 30px;
    width: 30px;
}
.navbar-toggle {
    margin-right: 20px;
}
.blog-content .top-icon {
    margin: 10px 0;
}
section[rel="schema:comment"] {
    margin-bottom: 10px;
}
.blog-content .article-content-footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.object #accordion .panel-title {
    margin-right:40px;
}
.page-content.object #accordion .panel-title a {
    right: -35px;
}
#accordion .panel-title a {
    right: 0px;
}
.blog-content .jcarousel-control-prev, .blog-content .jcarousel-control-prev:hover, .blog-content .jcarousel-control-prev:focus{
    background-image: url('../images/slider-arrow-left.png');
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 54px;
    width: 29px;
    margin-left: -55px;
}
.blog-content .jcarousel-control-next, .blog-content .jcarousel-control-next:hover, .blog-content .jcarousel-control-next:focus{
    background-image: url('../images/slider-arrow-right.png');
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 54px;
    width: 29px;
    margin-right: -55px;
}
.tooltip {
    width:300px;
}
.btn-search, .btn-search:hover {
    font-size: 18px;
    padding: 14px 24px 9px 24px;
}
.search-block-form .form-search {
    padding: 18px 20px 11px 20px;
}
.list-teaser a {
    text-decoration:none;
    color:#636363;
}
.jcarousel img {
    width:100%;
}
.page-header p {
    text-align: left;
    color:#636363;
}
.object .object-title-block h2 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.page-content.blog-content div.separator a {
    margin-left:0 !important;
    margin-right:0 !important;
}
.page-content.blog-content {
    margin-top:20px;
}
.search-block-form {
    background-color: #ea5d0e;
}
.btn.orange {
    background-color: #ea5d0e;
}
.footer-top {
    background-color: #d7d7d7;
    color:#606060;
    font-size:18px;
    font-family: 'PT Sans Narrow', sans-serif;
    padding:10px;
    margin-bottom:15px;
}
.footer-top img {
    float:left;
}
.footer-top span {
    padding-top:10px;
    display:block;
}
.search-block-form .form-search {
    width:71%;
}
/* CSS for XSLT include for xslt styles */
div .xsl-textpart{
}

div.xsl-textpart h2 {
}

.xsl-greyout {
    color: #cccccc;
    font-weight: bold;
}

.xsl-lg-label {
    color: #cccccc;
    font-weight: bold;
}

.xsl-generic-symbol {
}

.xsl-highlight-number {
    color: #ff0000;
}

.xsl-deletion {
}

.xsl-sic {
    color: #ff0000;
}

.xsl-abbrev {
}

.xsl-sic-cor {
    color: #0000ff;
}
/* end include for XSLT styles */

.simple-header.partofcontent {
    font-size:22px;
}

/*Mobile styles*/

@media (max-width: 375px) {
    .build-search-block-form #searchtips {
        top:15px;
    }
    .build-search-block-form h2 {
        margin-top:20px;
    }
    .browse-catalogues-block-form #searchtips {
        top:15px;
    }
    .search-by-objectid-block-form #searchtips {
        top:5px;
    }
    .browse-catalogues-block-form p[data-drupal-selector=edit-description] {
        min-height:180px !important;
    }
    .object .object-navigation .prev-obj {
        padding-right:10px;
    }
    .object .object-navigation .next-obj {
        padding-left:10px;
    }

}
@media (min-width: 376px) and (max-width: 500px) {
}

@media (max-width: 430px) {
    .object .object-list-left table td, .object .object-list-right table td {
        display: block;
        width: 99.9%;
        clear: both;
    }
    .object .object-list-left label, .object .object-list-right label {
        text-align:left;
    }
    .object .object-list-left table tr td:nth-child(2n), .object .object-list-right table tr td:nth-child(2n) {
        padding-left:0;
    }
    .col-lg-7.object-list-left, .col-lg-5.object-list-right {
        padding-left:15px !important;
    }

    .object .object-list-right {
        padding-left:0;
    }
    .object .object-gallery .gallery-content h3 b {
        clear: both;
        width: 100%;
        text-align: center;
        float: left;

    }
}

@media (max-width: 501px) {
    .search-results-container {
        margin-top:100px;
    }
    .suggestions .block-title .main-title {
        padding: 0 50px;
    }
    .resources .block-title .main-title {
        padding: 0 5px;
    }
}
@media (min-width: 502px) and (max-width: 520px) {
    .search-results-container {
        margin-top:85px;
    }
}
@media (min-width: 501px) {

}
@media (min-width: 501px) and (max-width: 725px) {
    .search-results-container .style-grid li {
        width:48%;
    }
    .search-results-container .style-grid .image-block {
        width:100%;
        height:auto;
    }
}
@media (max-width: 500px) {
    /*	.block-title #list-link {
            display: block;
            top: 17px;
            position: relative;
            left: 10px;
                    z-index:1000;
    }*/

    .block-title .right-menu {
        top:0px;
    }
    .block-title {
        margin: 31px 0 40px;
    }
    .hp-resources .block-title {
        margin: 50px 0 40px;
    }

}

@media (max-width: 520px) {
    #block-thetaklamakan-branding img {
        padding-left:20px !important;
    }
    /* typography tweaks */
    .page-header h1, .blog-content article h2, .object .object-title-block h2 {
        font-size:27px;
    }
    .page-header p {
        font-size: 18px;
        line-height: 22px;
    }
    .object #accordion .panel-title {
        font-size: 18px;
    }
    .object #accordion .panel-title .panel-sub-title-show {
        font-size: 16px;
    }

    .block-thetaklamakan-branding img {
        margin-left:20px;
    }
    /* search block tweaks */
    div.search-block-form .col-lg-10 {
        width:100%;
    }
    div.search-block-form .form-search {
        width:100%;
    }
    div.search-block-form .col-lg-10 .search-label {
        margin-bottom: 20px;
    }
    /*div.search-block-form .container-fluid .row {
            max-height:170px;
    }*/
    div.search-block-form .btn-search {
        margin-top: 10px;
    }
    div.search-block-form {
        max-height: 240px;
    }
    div.search-block-form .col-lg-2.pull-right {
        position: relative;
        top: -45px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-left {
        position:relative;
        top:-35px;
        z-index:1000;
        width:170px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right {
        position:relative;
        top:-60px;
    }
    /* resources list view tweaks */
    div.hp-resources .block-list-view  {
        padding: 0 15px;
    }

    /* resources and blog titles */
    .hp-blog-latest .block-title .main-title, .hp-resources .block-title .main-title {
        padding: 0 20px;
    }
    /* search results page tweaks */
    /*div.search-query {
            margin: 0 15px;
            }*/
    .search-filter .refine-button {
        margin-right:15px;
    }
    h2.block-title .search-statistics {
        min-height:30px;
    }
    .block-title .list-icon {
        margin-right:15px;
    }
    .block-title .grid-icon {
        margin-right:15px;
    }

    .search-per-page {
        min-height:35px;
        line-height:30px;
    }
    .search-filter .filter-form-list li {
        width:90%;
        margin: 6px 15px;
    }
    .search-statistics {
        text-align:center;
    }
    .block-title .main-title {
        padding: 0 5px;
    }
    .object .object-list-left label, .object .object-list-right label {
        display:inherit;
    }
    .object .object-list-left {
        padding-left:0;
    }
    div.search-block-form .col-lg-10 {
        padding:0;
    }
}

@media (max-width: 727px) {
    ol.search-results.style-list .image-block {
        display:none;
    }
}

@media (max-width: 767px) {
	.style-list .content-block {
		 width:100%;
	}
	
	.language-switcher-language-url {
        right:15px;
    }
    .block-grid-view .col-xs-6.nopadding {
        width:100%;
    }
    .block-grid-view .container .row .col-sm-6.nopadding .img-container {
        margin-right:0px !important;
    }
    .block-grid-view .img-container {
        margin-right:0px;
        margin-bottom:10px;
    }
    .block-grid-view .img-container img {
        width:100%;
        height:auto;
    }
    footer .navbar-nav>li {
        border-right: #ffffff !important;
    }
    .search-results-container .style-grid li {
        width:100%;
    }
    .search-results-container .style-grid .image-block {
        width:100%;
        height:auto;
    }
    /*
    .block-grid-view .container .row .col-sm-6.nopadding .container-fluid .img-container {
            margin-right:10px;
    }
    .block-grid-view .container .row .col-sm-3.nopadding .img-container {
            margin-right:0px;
            }
    .block-grid-view .container-fluid {
            clear:both;
    }*/
    ol.search-results.style-grid .content-block {
        margin: 0 15px;
    }
    div.search-query {
        margin-bottom:15px;
    }
    #block-thetaklamakan-content h3 {
        font-size:20px;
        text-align:center;
    }
    #accordion .panel-title .panel-sub-title {
        margin-right:40px;
    }
    .col-lg-12.object-analysis .col-lg-3 {
        width:100%;
    }
    .col-lg-12.object-analysis .col-lg-3 img {
        width:100%;
        height:auto;
    }
    .hp-resources .block-grid-view .container, .resources .block-grid-view .container {
        padding-right:0;
        padding-left:0;
    }
    .suggestions .block-grid-view .container {
        padding-right:0;
        padding-left:0;
    }
    .jcarousel li {
        border:2px solid #ffffff;
    }
    .page-header .container{
        padding:0;
    }

    .page-header .container .row .col-xs-offset-1.col-xs-10 {
        padding: 0px 15px;
    }
    #block-thetaklamakan-content .page-header .container .row .col-xs-offset-1.col-xs-10 {
        padding: 0px;
    }
    #block-thetaklamakan-content .page-content .container {
        padding: 0px;
    }
    .page-header .container .row .col-xs-offset-1.col-xs-10 {
        padding: 0px;
    }
    .contact-page .col-md-6.nopadding-right {
        padding-left:0;
    }
}
@media (max-width: 768px) {

    .row {
        margin-left:0px;
        margin-right:0px;
    }
    .container>.navbar-header {
        margin-left:0px;
        margin-right:0px;
    }
    .container-fluid {
        padding-right:0;
        padding-left:0;
    }

    /* mobile menu tweaks */
    .navbar-nav {
        margin:0;
    }
    .top-navbar .navbar-nav {
        margin-right:0;
    }
    .top-navbar .navbar-nav>li>a {
        background-color: #f2f2f2;
        border-bottom: 1px solid grey;
    }
    .container>.navbar-collapse {
        margin-right:0px;
        margin-left:0px;
        padding-right:0;
        padding-left:0;
    }
    .top-navbar ul.navbar-nav:last-child {
        border-right:0px solid !important;	
    }
    .top-navbar ul.navbar-nav li:first-child a {
        border-top:1px solid grey !important;	
    }
    #block-languageswitcher {
        display: block;
        position:absolute;
        top:-84px;
        right:87px;
    }
    .navbar-collapse.in {
        overflow:visible;
    }
    .top-navbar .navbar-nav>li {
        text-align:center;
    }
    footer .navbar-nav>li>a {
        padding-left:7px !important;
    }
    footer .col-lg-8 {
        padding-right:0;
        padding-left:0;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .search-statistics {
        display:block !important;
    }
}
@media (min-width: 521px) and (max-width: 767px) {
    #block-thetaklamakan-branding img {
        padding-left:20px !important;
    }
    /* typography tweaks */
    .page-header h1 {
        font-size:34px;
    }
    .page-header p {
        font-size: 18px;
        line-height: 22px;
    }
    .block-thetaklamakan-branding img {
        margin-left:20px;
    }
    /* search block tweaks */
    div.search-block-form .col-lg-10 {
        width:79%;
    }
    div.search-block-form {
        max-height: 175px;
    }
    div.search-block-form .col-lg-2.pull-right {
        position: relative;
        top: -42px;
    }
    div.search-block-form .col-lg-10 .search-label {
        margin-bottom: 20px;
    }
    div.search-block-form .container-fluid .row {
        max-height:100px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-left {
        position:relative;
        z-index:1000;
        width:170px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right {
        top:-25px;
    }
    /* resources image grid tweaks */
    div.hp-resources .block-grid-view .img-container img {
        width:100%;
        height: auto;
    }
    /* resources list view tweaks */
    div.hp-resources .block-list-view  {
        padding: 0 15px;
    }
    /* div.search-query {
            margin: 0 15px;
            }*/
    /* search results page tweaks */

    .search-filter .refine-button {
        margin-right:15px;
    }
    h2.block-title .search-statistics {
        min-height:30px;
        margin-top:10px;
    }
    .block-title .list-icon {
        margin-right:15px;
    }
    .block-title .grid-icon {
        margin-right:15px;
    }

    .search-per-page {
        min-height:35px;
    }
    .search-results-container {
        margin-top:75px;
    }
    /*.block-title #list-link {
        display: block;
        top: -26px;
        position: relative;
        left: 10px;
    }*/
    .search-filter .filter-form-list li {
        width:90%;
        margin: 6px 15px;
    }
    .search-statistics {
        margin-left:10px;
    }
}
@media (min-width: 768px) {
    .col-lg-12.object-analysis .col-lg-3 {
        width:49%;
        float:left;
    }
    .col-lg-12.object-analysis .col-lg-3 img {
        width:100%;
        height:auto;
    }
    ol.search-results.style-grid h3 {
        min-height:75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* search block tweaks */
    div.search-block-form .col-lg-10 {
        width:79%;
    }
    div.search-block-form {
        max-height: 175px;
    }
    div.search-block-form .col-lg-2.pull-right {
        position: relative;
        top: -42px;
    }
    div.search-block-form .col-lg-10 .search-label {
        margin-bottom: 20px;
    }
    div.search-block-form .container-fluid .row {
        max-height:100px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-left {
        position:relative;
        z-index:1000;
        width:170px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right {
        top:-25px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right a {
        right: 171px;
        position: relative;
    }
    .search-results-container {
        margin-top:50px;
    }
    .search-filter .filter-form-list li {
        width:31%;
        margin: 6px 7px;
    }
}
@media (max-width: 991px) {
    .blog-content .share-icons {
        text-align:center;
    }
    .blog-content .author-details {
        margin: 15px 0;
    }
    .blog-content .comment-count-wrapper {
        text-align: center;
    }
    .article-sidebar.nopadding-right {
        padding-left:0;
    }
    .jcarousel li span {
        font-size:16px;
        line-height:18px;
    }
    .jcarousel-control-prev {
        background-image: url('../images/slider-arrow-left-white.png') !important;
        margin-left: 4px !important;
    }
    .jcarousel-control-next {
        background-image: url('../images/slider-arrow-right-white.png') !important;
        margin-right: 4px !important;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    /* search block tweaks */
    div.search-block-form .col-lg-10 {
        width:100%;
    }
    div.search-block-form {
        max-height: 175px;
    }
    div.search-block-form .col-lg-2.pull-right {
        position: relative;
        top: 12px;
    }
    div.search-block-form .col-lg-2.pull-right .search-filters {
        width:250px;
    }
    div.search-block-form .col-lg-2.pull-right .search-filters li {
        width:100px;
        float:left;
    }
    div.search-block-form .col-lg-10 .search-label {
        margin-bottom: 20px;
    }
    div.search-block-form .container-fluid .row {
        max-height:100px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-left {
        position:relative;
        z-index:1000;
        top:10px;
        width:170px;
    }
    div.search-block-form .container-fluid .col-lg-6.text-right {
        top:-15px;
    }
    .search-filter .filter-form-list li {
        width:31%;
        margin: 6px 7px;
    }
}

@media (max-width: 1199px) { 
    .build-search-block-form .search-list .and-or-switch {
        position: relative;
        top: -27px;
    }
    .build-search-block-form .search-list .btn-close {
        top: -15px;
        position: relative;
    }
    .build-search-block-form.contextual-region.clearfix .col-lg-9.nopadding-left.text-align-left {
        padding-right:0px;
        margin-bottom:10px;
    }
    .build-search-block-form input[type=button] {
        width: 100%;
    }
    .browse-catalogues-block-form p[data-drupal-selector=edit-description] {
        min-height:140px;
    }
    .search-by-objectid-block-form p[data-drupal-selector=edit-description] {
        min-height:140px;
    }
    .col-lg-5.nopadding-right.select-by-range-parent {
        padding-left:0;
    }
    .build-search-block-form .search-list li .col-lg-3 {
        padding-left:0;
    }
    .panel-group {
        padding-top: 5px;
        padding-bottom:15px;
    }
    .col-lg-12.object-translations {
        padding-top: 5px;
    }
    .col-lg-12.object-analysis {
        padding-top: 5px;
        padding-bottom:15px;
    }
}

.block-title #grid-link {
    z-index:1000;
}
.block-title #list-link {
    z-index:1000;
}
footer .navbar-nav>li>a {
    color:#636363;
    border-right: 0;
    margin: 3px 7px 7px 7px;
    padding: 13px 18px 10px 15px;
}

footer .navbar-nav>li>a:hover, footer .navbar-nav>li> .is-active {
    background: #eee;
}
footer .navbar-nav>li {
    border-right: 1px solid #636363;
}
footer .container {
    background-color: #ffffff;
}
.and-or-switch {
    text-transform:uppercase;
    font-family:'PT Sans Narrow', sans-serif;
}
a#searchtips {
    text-transform:uppercase;
}
.build-search-block-form .search-list .btn-close {
    height: 30px;
    width: 30px;
}
.navbar-toggle {
    margin-right: 20px;
}
.blog-content .top-icon {
    margin: 10px 0;
}
section[rel="schema:comment"] {
    margin-bottom: 10px;
}
.blog-content .article-content-footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.object #accordion .panel-title {
    margin-right:40px;
}
.page-content.object #accordion .panel-title a {
    right: -35px;
}
#accordion .panel-title a {
    right: 0px;
}
.blog-content .jcarousel-control-prev, .blog-content .jcarousel-control-prev:hover, .blog-content .jcarousel-control-prev:focus{
    background-image: url('../images/slider-arrow-left.png');
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 54px;
    width: 29px;
    margin-left: -55px;
}
.blog-content .jcarousel-control-next, .blog-content .jcarousel-control-next:hover, .blog-content .jcarousel-control-next:focus{
    background-image: url('../images/slider-arrow-right.png');
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 54px;
    width: 29px;
    margin-right: -55px;
}
.tooltip {
    width:300px;
}
.btn-search, .btn-search:hover {
    font-size: 18px;
    padding: 14px 24px 9px 24px;
}
.search-block-form .form-search {
    padding: 18px 20px 11px 20px;
}
.list-teaser a {
    text-decoration:none;
    color:#636363;
}
.jcarousel img {
    width:100%;
}
.page-header p {
    text-align: left;
    color:#636363;
}
.object .object-title-block h2 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.page-content.blog-content div.separator a {
    margin-left:0 !important;
    margin-right:0 !important;
}
.page-content.blog-content {
    margin-top:20px;
}
.top-navbar .navbar-nav>li>.is-active, footer .navbar-nav>li> .is-active {
    background-color: #ffffff;
    font-weight:bold;
}
.top-navbar .navbar-nav>li, footer .navbar-nav>li {
    border-right: 0px;
}
.top-navbar ul.navbar-nav:last-child {
    border-right: 0px;
}
.top-navbar .navbar-nav>li>a {
    margin: 0px 7px;
}
footer .navbar-nav>li>a {
    margin: 7px 3px;
}

.language-switcher-language-url .language-container {
    padding-top:7px;
}
ol.search-results.style-list .content-block {
    padding-top:20px;
}
.col-xs-offset-1.col-xs-10 {
    width:100%;
    margin:0;
    padding:0;
}

#views-exposed-form-home-page-view-page-1{
    display:none;
}

#block-views-block-latest-news-block-news a{
    color:#fff !important;
}

.jcarousel ul li img{
     
    width:100%;
}

.bg-conent{

    margin-bottom:10px;
    background-color: #f2f2f2;
    color: #636363;
    font-family: "Gentium Basic",serif;
    font-size: 16px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 22px;
    padding-top: 50px;
}

.bg-conent label{    
    font-family: "PT Sans Narrow";
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    text-transform: uppercase;
    width: 173px;
}

.transcription {
	text-align: left !important;
}


.bg-conent td{
    vertical-align: top;
    padding-left: 15px;
}

.pull-right {
    float: right !important;
	display: none;
	visibility: hidden;
}

.object .object-navigation a {
    border-bottom-color: #c2c2c2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #898989;
    display: inline-block;
    font-family: "PT Sans Narrow",sans-serif;
    font-size: 16px;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
}

.pull-left {
    float: left !important;
}

.object .object-navigation  div {
    margin-bottom: 17px;
}

.padding {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 20px !important;
}

.nopadding {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}

.object .object-navigation .prev-obj{
    background-image: url("./images/obj-nav-left-arrow.png");
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    border-right-color: #7f8275;
    border-right-style: solid;
    border-right-width: 1px;
    display: inline-block;
    height: 27px;
    padding-left: 35px;
    padding-right: 20px;
}
.object .object-navigation .next-obj{
    background-image: url("./images/obj-nav-right-arrow.png");
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 27px;
    padding-left: 20px;
    padding-right: 35px;
}

.style-grid-artical{
 
}
.style-grid-artical  li{
    width:225px;
    float:left;
    margin-right: 20px;
    height:300px;
    list-style:none;
    text-align:center;
}
.style-grid-artical li img {
    width:219px;
     height:220px;
}

.xml_content{
 background:#F2F2F2;
 border:1px solid #D6D6D6;
 min-height: 300px;
 padding:10px;
    
}

#block-thetaklamakan-branding a {
    height:70px;
    width: 109px;
}
#block-views-block-recent-posts-block-1 footer{
margin:5px 5px;
}