{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - css: An array of CSS files for the current page.
 * - language: (object) The language the site is being displayed in.
 *   language.language contains its textual representation.
 *   language.dir contains the language direction. It will either be 'ltr' or 'rtl'.
 * - grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 * - head: Markup for the HEAD section (including meta tags, keyword tags, and
 *   so on).
 * - styles: Style tags necessary to import all CSS files for the page.
 * - scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - page: The rendered page content.
 * - page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token|raw }}">
  <js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body{{ attributes.addClass(body_classes) }}>
  <a href="#main-content" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
  </a>
  {% if page_top %}
    {{ page_top }}
  {% endif %}

  {% if page %}
    {{ page }}
  {% endif %}

  {% if page_bottom %}
    {{ page_bottom }}
  {% endif %}

  <js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>
