<div role="document" class="page">

<!-- "inner-wrapper" applies 'outer-container' NEAT grid: see layout.scss-->

 <!-- ______________________ HEADER _______________________ -->
  <header id="header-headline-outer" class="header-outer outer-wrapper">
    <div class="inner-wrapper">

      {%  if page.header_headline %}
        <section id="header-headline" class="header-headline">
          {{ page.header_headline }}
        </section>
      {% endif %}

    </div>
  </header>


  <header id="header-top-outer" class="header-outer outer-wrapper">
    <div class="no-inner-wrapper">

      {%  if page.header_top_left %}
        <section id="header-top-left" class="header-top-left">
          {{ page.header_top_left }}
        </section>
      {% endif %}

      {%  if page.header_top_right %}
        <section id="header-top-right" class="header-top-right">
          {{ page.header_top_right }} 
        </section>
      {% endif %}

    </div>
  </header>


  <div id="manage-strip" class="manage-strip-outer outer-wrapper">
    <div class="no-inner-wrapper">
      {%  if page.manage_strip %}
        <section id="manage-strip" class="manage-strip">
          {{ page.manage_strip }}
        </section>
      {% endif %}
    </div>
  </div>


  <header id="header-bottom-outer" class="header-outer outer-wrapper">
    <div class="inner-wrapper">
      {%  if page.header_bottom_left %}
        <section id="header-bottom-left" class="header-bottom-left">
          {{ page.header_bottom_left }}
        </section>
      {% endif %}

      {%  if page.header_bottom_right %}
        <section id="header-bottom-right" class="header-bottom-right">
          {{ page.header_bottom_right }} 
        </section>
      {% endif %}
    </div>
  </header>



  <!-- ______________________ FEATURED _______________________ -->
  <div id="featured-outer-one" class="featured-outer outer-wrapper">
    <div class="inner-wrapper">
      {%  if page.featured_one %}
        <section id="featured-one" class="featured-one">
          {{ page.featured_one }}
        </section>
      {% endif %}
    </div>
  </div>

  <div id="featured-outer-two" class="featured-outer outer-wrapper">
    <div class="inner-wrapper">
      {%  if page.featured_two %}
        <section id="featured-two" class="featured-two">
          {{ page.featured_two }}
        </section>
      {% endif %}
    </div>
  </div>
  


<!-- ______________________ BREADCRUMB _______________________ -->
{#   {% if page.breadcrumb %}
    <section id="breadcrumb" class="outer-wrapper">
      <div class="inner-wrapper">
        {{ page.breadcrumb }}
      </div>
    </section>
  {% endif %} #}

<!-- ______________________ MAIN _______________________ -->
  <main role="main" id="main-outer" class="outer-wrapper">

    <a id="main-content" class="main-content" tabindex="-1"></a>

    <section class="main-inner inner-wrapper">

        {% if page.sidebar_first %}
          <aside id="sidebar-first" role="complementary" class="sidebar">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}

        <article id="content">
          {{ page.content }}
        </article>

        {% if page.sidebar_second %}
          <aside id="sidebar-second" role="complementary" class="sidebar">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}



    </section>

  </main>


<!-- ______________________ FOOTER _______________________ -->
  <footer id="footer-top-outer" class="footer-outer outer-wrapper">
    <div class="footer-inner inner-wrapper">

      {%  if page.footer_top_left %}
        <section id="footer-top-left" class="footer-top-left">
          {{ page.footer_top_left }}
        </section>
      {% endif %}

      {%  if page.footer_top_right %}
        <section id="footer-top-right" class="footer-top-right">
          {{ page.footer_top_right }} 
        </section>
      {% endif %}

    </div>
  </footer>

  
  <footer id="footer-bottom-outer" class="footer-outer outer-wrapper">
      <div class="footer-inner inner-wrapper">

        {%  if page.footer_bottom %}
          <section id="footer-bottom" class="footer-bottom">
            {{ page.footer_bottom }}
          </section>
        {% endif %}

      </div>
  </footer>

</div>