{% if page.footer %}
    <footer>
        <div class="container">
			<div class="row footer-top">
				<div class="col-lg-12">
				<img src="http://www.damayata.com/themes/custom/thetaklamakan/images/erc-logo.png"><span>An ERC Synergy project from the European Research Council under the EU's 7th Framework Programme (FP7/2007-2013)/ERC grant agreement no.609823.</span>
				</div>
			</div>
            <div class="row">
                <div class="col-lg-8">{{ page.footer }}</div>
                <div class="col-lg-4">
                    <ul class="social-icons clearfix pull-right">
                        <li><a href="#" class="pinterest">Pinterest</a></li>
                        <li><a href="#" class="youtube">Youtube</a></li>
                        <li><a href="#" class="flickr">Flickr</a></li>
                        <li><a href="#" class="twitter">Twitter</a></li>
                        <li><a href="#" class="facebook">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endif %}