<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
         {{ page.header }}
        </div>
        <div id="navbar" class="top-navbar navbar-collapse collapse">
            {{ page.primary_menu }}
        </div><!--/.navbar-collapse -->
    </div>
</nav>