{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@thetaklamakan/layout/header.html.twig' %}
<div class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                {{ page.search_block }}
            </div>
        </div>
    </div>
</div>

<div class="page-highlighted">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                {{ page.highlighted }}
            </div>
        </div>
    </div>
</div>

<div class="search-filter">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 nopadding">
                <div class="search-query">Results of my search for <b>{{ keys }}</b>  </div>
            </div>
            <!--div class="col-lg-3 nopadding text-right">
<div class="refine-button"><a href="">REFINE RESULTS</a></div>
            </div-->
        </div>
        <div class="row refine-content">
            <div class="col-lg-12 nopadding">
                <!--form class="filter-form" action="#">
                <ul class="filter-form-list clearfix">
                    <li><div class="checkbox"><input type="checkbox" value="" name="type" id="type"><label for="type"><span>Type</span></label></div></li>
                    <li><div class="checkbox"><input type="checkbox" value="" name="form" id="form"><label for="form"><span>Form</span></label></div></li>
                    <li><div class="checkbox"><input type="checkbox" value="" name="institute_collection" id="institute_collection"><label for="institute_collection"><span>Institute and Collection</span></label></div></li>
                    <li><div class="checkbox"><input type="checkbox" value="" name="materials_techniques" id="materials_techniques"><label for="materials_techniques"><span>Materials and Techniques</span></label></div></li>
                    <li><div class="checkbox"><input type="checkbox" value="" name="languages_scripts" id="languages_scripts"><label for="languages_scripts"><span>Languages and Scripts</span></label></div></li>
                    <li><div class="checkbox"><input type="checkbox" value="" name="provenance" id="provenance"><label for="provenance"><span>Provenance</span></label></div></li>
                    <li><div class="checkbox"><input type="checkbox" value="" name="archaeological_find_site" id="archaeological_find_site"><label for="archaeological_find_site"><span>Archaeological Find Site</span></label></div></li>
                    <li><div class="checkbox"><input type="checkbox" value="" name="subject_keyword" id="subject_keyword"><label for="subject_keyword"><span>Subject/Keyword</span></label></div></li>
                    <li><div class="checkbox"><input type="checkbox" value="" name="date" id="date"><label for="date"><span>Date</span></label></div></li>
                    <li><button type="checkbox" value="" name="date">UPDATE RESULTS</button></li>
                </ul>
                </form-->
            </div>
        </div>
    </div>
</div>
<!-- Modal for checkbox-->
<div class="modal fade" id="checkboxModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">SELECT FORM</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="search-input" name="predictive-search-box" class="form-text" placeholder="Type the first Letter (Predictive search)">
                <div class="predictive-search-content">
                    <ul>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk1"><label for="chk1"><span>lämningar (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk2"><label for="chk2"><span>Dunhuang (63 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk3"><label for="chk3"><span>fordon (0 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk4"><label for="chk4"><span>bil (4 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk5"><label for="chk5"><span>-Fotografi- (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk6"><label for="chk6"><span>tält (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk7"><label for="chk7"><span>läger (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk8"><label for="chk8"><span>träd (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk9"><label for="chk9"><span>landksap (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk10"><label for="chk10"><span>flod (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk11"><label for="chk11"><span>gata (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk12"><label for="chk12"><span>handskrift (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk13"><label for="chk13"><span>Fotografi (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk14"><label for="chk14"><span>tält (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk15"><label for="chk15"><span>läger (34 Results)</span></label></div></li>
                        <li><div class="checkbox"><input type="checkbox" value="" name="chk[]" id="chk16"><label for="chk16"><span>träd (34 Results)</span></label></div></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">SAVE AND SEARCH</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for checkbox End-->

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h2 class="block-title"><a href="#" id="grid-link" style="display: none;"><span class="right-menu grid-icon">Grid View</span></a>
                    <a href="#" id="list-link"><span class="right-menu list-icon">List View</span></a>

                    <div class="left-menu" style="display: inline;">
                        <div class="search-statistics" style="display: inline-block;"><!--Showing 1 - 100 out of 6546 results --></div>
                        <div class="search-per-page" style="display: inline-block;"><!--select>
                                <option>10 results per page</option>
                                <option>25 results per page</option>
                                <option>50 results per page</option>
                            </select--></div>
                    </div>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 nopadding search-results-container">
       
<nav id='top_pagging' class="pager2" role="navigation" aria-labelledby="pagination-heading">
</nav>
	 
            
               {{ page.content }}
               <input type='hidden' id='view_type'   value="{{ view_type }}" />
            </div>
           
        </div>
    </div>
</div>
<div class="page-column-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ page.content_column_left }}
            </div>
            <div class="col-md-6">
                {{ page.content_column_right }}
            </div>
        </div>
    </div>
</div>

{#{{ page.page_feat_bottom }}#}

{% include '@thetaklamakan/layout/footer.html.twig' %}

{#
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">

    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
#}