{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@thetaklamakan/layout/header.html.twig' %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10" style="padding:0 15px;">
    <h1>Siddham – The South Asia Inscriptions Database</h1>
    <p>The Siddham database is an online resource for searching and reading Indic inscriptions. The current focus of the database is inscriptions from South Asia from the Gupta period (3rd to 6th centuries CE).</p><p style="text-align:center;"><a href="http://www.damayata.com/about"/><button type="button" class="btn btn-default">Read More</button></a></p>
            </div>
        </div>
    </div>
</div>
<div class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                {{ page.search_block }}
            </div>
        </div>
    </div>
</div>
<div class="hp-blog-latest">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h2 class="block-title"><span class="main-title">Latest News</span></h2>
            </div>
        </div>
        <div class="row latest-from-blog">
            <div class="col-xs-12 nopadding">
                <div class="jcarousel-wrapper">
                    <!--div class="jcarousel"--> 
					{{ block_output }}
                        <!--ul>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 1">
                            <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 2">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 3">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 4">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 5">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 6">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                        </ul-->
						 
                    <!--/div-->

                    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                    <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                    <p class="jcarousel-pagination"></p>
                </div>
            
			
			</div>
        </div>
        <div class="row">
            <div class="col-xs-12 nopadding text-center">
                <a href="{{ base_insecure_url }}/latest-news-page"><button type="button" class="btn btn-default">Show More</button></a>
            </div>
        </div>
        </div>
    </div>
</div>

{% include '@thetaklamakan/layout/footer.html.twig' %}