{#
/*Node for discovery page local is 25 online is 478*/
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@thetaklamakan/layout/header.html.twig' %}
<div class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                {{ page.search_block }}
            </div>
        </div>
    </div>
</div>

<div class="page-highlighted">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                {{ page.highlighted }}
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>

<div class="page-column-content">
    <div class="container nopadding">
        <div class="row">
            <div class="col-xs-12">
                <div class="build-search-block-form contextual-region clearfix"
                     data-drupal-selector="build-search-block-form" id="block-build-searchblock">
                    <h2>BUILD MY OWN SEARCH</h2>
                    <a href="#" id="searchtips" class="white-tip" data-toggle="tooltip" data-placement="bottom" title=""
                       data-drupal-selector="edit-view"
                       data-original-title="On hover Lorem ipsum dolor gravida exploring explanation of how this search worksLorem ipsum dolor gravida exploring explanation of how this search works!">Search
                        Tips</a>

                    <p data-drupal-selector="edit-description">If you are looking for a specific group of objects, eg.
                        photographs from Niya in the British Library, or Chinese eighth century medical manuscripts from
                        Dunhuang, then you can build your own search using the search elements.</p>
<div class="col-lg-12 nopadding">
    <ul class="search-list">
        <li class="clearfix">
            <!--row-->
            <div class="col-lg-3 nopadding-left">
                <select class="form-select">
                    <option>select search element</option>
                    <option selected>form</option>
                    <option>institute and collection</option>
                    <option>languages and scripts</option>
                    <option>materials and techniques</option>
                </select>
            </div>
            <div class="col-lg-3">
                <input type="text" class="form-text" placeholder="book (345 results)">
            </div>
            <div class="col-lg-3 nopadding-left show-all-container">
                <div class="checkbox">
                    <input data-drupal-selector="edit-showall-1" type="checkbox" id="edit-showall-1" name="showall-1" value="1" class="form-checkbox">
                    <label for="edit-showall-1" class="option">Show all</label>
                </div>
            </div>
            <div class="col-lg-2 text-align-right">
                <div class="and-or-switch ">
                    <span>and</span>
                    <div class="onoffswitch-container">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch-1">
                        <label class="onoffswitch-label" for="myonoffswitch-1">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    </div>
                    <span>or</span>
                </div>
            </div>
            <div class="col-lg-1">
                <a href="#" class="btn-close">X</a>
            </div>
            <!--row end-->
        </li>
        <li  class="clearfix">
            <!--row-->
            <div class="col-lg-3 nopadding-left">
                <select class="form-select">
                    <option>select search element</option>
                    <option>form</option>
                    <option selected >institute and collection</option>
                    <option>languages and scripts</option>
                    <option>materials and techniques</option>
                </select>
            </div>
            <div class="col-lg-3">
                <input type="text" class="form-text" placeholder="institution Name (345 results)">
            </div>
            <div class="col-lg-3 nopadding-left show-all-container">
                <div class="checkbox">
                    <input data-drupal-selector="edit-showall-2" type="checkbox" id="edit-showall-2" name="showall-2" value="1" class="form-checkbox">
                    <label for="edit-showall-2" class="option">Show all</label>
                </div>
            </div>
            <div class="col-lg-2 text-align-right">
                <div class="and-or-switch ">
                    <span>and</span>
                    <div class="onoffswitch-container">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch-2">
                            <label class="onoffswitch-label" for="myonoffswitch-2">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <span>or</span>
                </div>
            </div>
            <div class="col-lg-1">
                <a href="#" class="btn-close">X</a>
            </div>
            <!--row end-->
        </li>
        <li  class="clearfix">
            <!--row-->
            <div class="col-lg-3 nopadding-left">
                <select class="form-select">
                    <option>select search element</option>
                    <option>form</option>
                    <option>institute and collection</option>
                    <option>languages and scripts</option>
                    <option>materials and techniques</option>
                </select>
            </div>
            <div class="col-lg-3">
                <input type="text" class="form-text inactive-result" placeholder="predictive Search">
            </div>
            <div class="col-lg-3 nopadding-left show-all-container">
                <div class="checkbox">
                    <input data-drupal-selector="edit-showall-3" type="checkbox" id="edit-showall-3" name="showall-3" value="1" class="form-checkbox">
                    <label for="edit-showall-3" class="option">Show all</label>
                </div>
            </div>
            <div class="col-lg-2 text-align-right">
                <div class="and-or-switch ">
                    <span>and</span>
                    <div class="onoffswitch-container">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch-3">
                            <label class="onoffswitch-label" for="myonoffswitch-3">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <span>or</span>
                </div>
            </div>
            <div class="col-lg-1">
                <a href="#" class="btn-close">X</a>
            </div>
            <!--row end-->
        </li>
        <li class="sample-content">
            <!--row-->
            <div class="col-lg-3 nopadding-left">
                <select class="form-select">
                    <option>select search element</option>
                    <option>form</option>
                    <option>institute and collection</option>
                    <option>languages and scripts</option>
                    <option>materials and techniques</option>
                </select>
            </div>
            <div class="col-lg-3">
                <input type="text" class="form-text inactive-result" placeholder="predictive Search">
            </div>
            <div class="col-lg-3 nopadding-left show-all-container">
                <div class="checkbox">
                    <input data-drupal-selector="edit-showall-{num}" type="checkbox" id="edit-showall-{num}" name="showall-{num}" value="1" class="form-checkbox">
                    <label for="edit-showall-{num}" class="option">Show all</label>
                </div>
            </div>
            <div class="col-lg-2 text-align-right">
                <div class="and-or-switch ">
                    <span>and</span>
                    <div class="onoffswitch-container">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch-{num}">
                            <label class="onoffswitch-label" for="myonoffswitch-{num}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <span>or</span>
                </div>
            </div>
            <div class="col-lg-1">
                <a href="#" class="btn-close">X</a>
            </div>
            <!--row end-->
        </li>
    </ul>
</div>
                    <div class="col-lg-9 nopadding-left text-align-left"><input
                                data-drupal-selector="add-search-element" type="button" id="add-search-element"
                                name="add-search-element" value="ADD SEARCH ELEMENT"
                                class="button js-form-add-search-element form-add-search-element"></div>
                    <div class="col-lg-3 nopadding text-align-right">
                        <span id="resultcount"
                              data-drupal-selector="edit-resultcount">57,000 Results</span>
                        <input data-drupal-selector="edit-submit" type="submit"
                                                           id="edit-submit--3" name="op" value="SEARCH"
                                                           class="button js-form-submit form-submit">
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ page.content_column_left }}
            </div>
            <div class="col-md-6">
                {{ page.content_column_right }}
            </div>
        </div>
    </div>
</div>


<div class="hp-resources discover-resource">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h2 class="block-title"><a href="#" id="grid-link"><span class="right-menu grid-icon">Grid View</span></a>
                    <a href="#" id="list-link"><span class="right-menu list-icon">List View</span></a>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 nopadding">
                <ul class="block-list-view">
                    <li>
                        <h3>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM DOLOR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget aliquam metus. Duis sed aliquam sem, vel...
                            <a href="#">read more</a></p>
                    </li>
                    <li>
                        <h3>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM DOLOR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget aliquam metus. Duis sed aliquam sem, vel...
                            <a href="#">read more</a></p>
                    </li>
                    <li>
                        <h3>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM DOLOR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget aliquam metus. Duis sed aliquam sem, vel...
                            <a href="#">read more</a></p>
                    </li>
                    <li>
                        <h3>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM DOLOR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget aliquam metus. Duis sed aliquam sem, vel...
                            <a href="#">read more</a></p>
                    </li>
                    <li>
                        <h3>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM DOLOR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget aliquam metus. Duis sed aliquam sem, vel...
                            <a href="#">read more</a></p>
                    </li>
                    <li>
                        <h3>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM DOLOR</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget aliquam metus. Duis sed aliquam sem, vel...
                            <a href="#">read more</a></p>
                    </li>
                </ul>
                <div class="block-grid-view">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 nopadding">
                                <div class="img-container">
                                    <img src="themes/custom/thetaklamakan/images/1.jpg">
                                    <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                                </div>
                            </div>
                            <div class="col-sm-6  nopadding">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-6  nopadding">
                                            <div class="img-container">
                                                <img src="themes/custom/thetaklamakan/images/2.jpg">
                                            <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget aliquam metus. Duis sed aliquam sem, vel
                                                </p></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6  nopadding">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-12  nopadding">
                                                        <div class="img-container nomargin" style="margin-bottom:10px!important">
                                                            <img src="themes/custom/thetaklamakan/images/3.jpg" style="min-height:220px">
                                                            <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12  nopadding">
                                                        <div class="img-container nomargin">
                                                            <img src="themes/custom/thetaklamakan/images/4.jpg" style="min-height:220px">
                                                            <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 nopadding">
                                <div class="img-container">
                                    <img src="themes/custom/thetaklamakan/images/5.jpg">
                                    <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                                </div>
                            </div>
                            <div class="col-sm-3 nopadding">
                                <div class="img-container">
                                    <img src="themes/custom/thetaklamakan/images/6.jpg">
                                    <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                                </div>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 nopadding">
                                            <div class="img-container  nomargin" style="margin-bottom:10px!important">
                                                <img src="themes/custom/thetaklamakan/images/7.jpg" style="min-height:220px">
                                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 nopadding">
                                            <div class="img-container">
                                                <img src="themes/custom/thetaklamakan/images/8.jpg" style="min-height:220px">
                                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 nopadding">
                                            <div class="img-container nomargin">
                                                <img src="themes/custom/thetaklamakan/images/9.jpg" style="min-height:220px">
                                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 nopadding text-center">
                <button type="button" class="btn btn-default">Show All</button>
            </div>
        </div>
    </div>
</div>


{{ page.page_feat_bottom }}

{% include '@thetaklamakan/layout/footer.html.twig' %}

{#
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">

    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
#}