{#
/*Node for help page local is 6 online is 463*/
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
 HELP PAGE
#}
{% include '@thetaklamakan/layout/header.html.twig' %}
<div class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                {{ page.search_block }}
            </div>
        </div>
    </div>
</div>


<div class="page-highlighted">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                {{ page.highlighted }}
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-10">
                                <h1>{#{  node.field_object_id.value }#} {{ node.title.value|raw }}</h1>
                                {% if node.hasField('field_header_text') %}
                                    <p>
                                        {{ node.field_header_text.value|raw }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="page-content object">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-12 object-navigation nopadding">
                                <div class="pull-left"><a onclick='javascript:history.go(-1)' href="#">BACK TO PREVIOUS PAGE</a></div>
                                <div class="pull-right">                                    

                                    <div class="prev-obj">

                                        {% if min > 0  %}     
                                            <a href="{{base_insecure_url}}/node/{{ min }}">Previous</a>
                                        {% else %}
                                            Previous
                                        {% endif %}
                                    </div>
                                    <div class="next-obj">
                                        {% if max > 0 %}
                                            <a href="{{base_insecure_url}}/node/{{ max }}">Next</a>
                                        {% else %}
                                            Next
                                        {% endif %}


                                    </div> 
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-column-content">
    <div class="container">

        <div class="row bg-conent">
            <div class="col-md-6">


                <table>

                    <tr><td> <label>Extent:</label></td><td><span>{{ node.field_extent.value }}</span></td></tr>
                    <tr><td> <label>Form:</label></td><td><span> {{ node.field_form.value }}</span></td></tr>

                </table>

            </div>

            <div class="col-md-6">

                <table>

                    <tr><td> <label>Materials and techniques:</label></td><td><span>{{ node.field_materials_and_techniques.value }}</span></td></tr>
                    <tr><td> <label>Provenance:</label></td><td><span>{{ node.field_event_place.value }}</span></td></tr>

                </table>

            </div>




        </div>

        <div class="row bg-conent">
            <div class="col-md-12">
                    <label class="transcription">
                        Description:
                    </label> 
                <div class="col-ms-12">
                    {{ node.body.value |raw }}


                </div>


            </div>

        </div>


    </div>
</div>

{% include '@thetaklamakan/layout/footer.html.twig' %}