{#
/*Node for contact page local is 10 online is 465*/
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
Contact PAGE
#}
{% include '@thetaklamakan/layout/header.html.twig' %}
<div class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                {{ page.search_block }}
            </div>
        </div>
    </div>
</div>

<div class="page-highlighted">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                {{ page.highlighted }}
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12" style="padding-left: 40px;padding-right: 40px">
                                <h1>{{ node.title.value|raw }}</h1>
                                {% if node.hasField('field_header_text') %}
                                    <p>
                                        {{ node.field_header_text.value|raw }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                {{ node.body.value|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-column-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 nopadding">
                {{ page.content_column_left }}
            </div>
            <div class="col-md-6 nopadding-right">
                {{ page.content_column_right }}
            </div>
        </div>
    </div>
</div>

{{ page.page_feat_bottom }}

{% include '@thetaklamakan/layout/footer.html.twig' %}