<div class="page-content blog-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 nopadding">
                <article{{ attributes }}>
                    {{ title_prefix }}
                    <h2{{ title_attributes }}>
                        {{ label }}
                    </h2>
                    {{ title_suffix }}

                    <div{{ content_attributes }}>
                        {{ content.body }}
                    </div>
                    <div class="container-fluid article-content-footer nopadding">
                        <div class="row">
                            <div class="col-md-3 share-icons">
                                <div class="addthis_sharing_toolbox"></div>
                            </div>
                            <div class="col-md-7 author-details">
                                {% if display_submitted %}

                                        <div{{ author_attributes }}>
                                            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                                            {{ metadata }}
                                        </div>

                                {% endif %}
                            </div>
                            <div class="col-md-2 comment-count-wrapper">
                                <div class="comment-count">COMMENTS ({{ comment_count }})</div>
                            </div>
                        </div>
                    </div>
                    {{ content|without('body')|without('comment') }}
                </article>
            </div>
            <div class="col-md-3 article-sidebar nopadding-right">
                {{ article_sidebar }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nopadding">
                <a href="#" class="top-icon"><img src="{{ base_path ~ directory }}/images/top-icon.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nopadding">
                {{ content.comment }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h2 class="block-title"><span class="main-title">RELATED RESOURCES</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 nopadding">
                    <div class="jcarousel-wrapper">
                    <!--div class="jcarousel"--> 
					{{ block_output }}
                        <!--ul>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 1">
                            <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 2">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 3">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 4">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 5">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                            <li><img src="themes/custom/thetaklamakan/images/casarol-sample.jpg" alt="Image 6">
                                <span>LOREM IPSUM DOLOR GRAVIDA GRAVID LOREM IPSUM</span>
                            </li>
                        </ul-->
						 
                    <!--/div-->

                    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                    <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                    <p class="jcarousel-pagination"></p>
                </div>
            
            </div>
        </div>
    </div>
</div>