<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <h1>{{ node.title.value|raw }}</h1>
                {% if node.hasField('field_header_text') %}
                    <p>
                        {{ node.field_header_text.value|raw }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                {{ node.body.value|raw }}
            </div>
        </div>
    </div>
</div>