<div class="page-content object">
    <div class="container">
        <div class="row">
            <div class="col-md-12 nopadding object-title-block">
                {{ title_prefix }}
                <h2{{ title_attributes }}>
                    {{ label }}
                </h2>
                {{ title_suffix }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 object-detail-block">
                <article{{ attributes }}>
                    <div{{ content_attributes }}>
                        {{ content.body }}
                    </div>
                    <div class="row object-list">
                        <div class="col-lg-6  object-list-left">
                            <table>
                                <tr>
                                    <td><label>Materials & Techniques:</label></td>
                                    <td><span><a href="#">{{ content.field_materials[0] }}</a>
                                        / <a href="#">{{ content.field_techniques[0] }}</a></span></td>
                                </tr>
                                <tr>
                                    <td><label>Languages & Scripts:</label></td>
                                    <td><span><a href="#">{{ content.field_languages[0] }}</a>
                                        / <a href="#">{{ content.field_scripts[0] }}</a></span></td>
                                </tr>
                                <tr>
                                    <td><label>Extent:</label></td>
                                    <td><span>{{ content.field_extent[0] }}</span></td>
                                </tr>
                                <tr>
                                    <td><label>Date:</label></td>
                                    <td><span>{{ content.field_date[0] }}</span></td>
                                </tr>
                                <tr>
                                    <td><label>Type & FORM:</label></td>
                                    <td><span><a href="#">{{ content.field_type[0] }}</a>
                                        / <a href="#">{{ content.field_form[0] }}</a></span></td>
                                </tr>
                                <tr>
                                    <td><label>Coordinates:</label></td>
                                    <td><span>{{ content.field_coordinates[0] }}</span></td>
                                </tr>
                                <tr>
                                    <td><label>Institute & Collection:</label></td>
                                    <td><span><a href="#">{{ content.field_institute[0] }}</a>
                                        > <a href="#">{{ content.field_collection[0] }}</a> </span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6  object-list-right">
                            <table>
                                <tr>
                                    <td><label>PROVENANCE:</label></td>
                                    <td><span>
                                    {% for value, key in content.field_provenance['#items'] %}
                                        <a href="#">{{ content.field_provenance[value] }}</a>,
                                    {% endfor %}
                                    </span></td>
                                </tr>
                                <tr>
                                    <td><label>Related Search Terms:</label></td>
                                    <td><span>
                                    {% for value, key in content.field_related_search_terms['#items'] %}
                                        <a href="#">{{ content.field_related_search_terms[value] }}</a>,
                                    {% endfor %}
                                    </span></td>
                                </tr>
                                <tr>
                                    <td><label>URL:</label></td>
                                    <td><span><a href="{{ content.field_url[0] }}">{{ content.field_url[0] }}</a></span></td>
                                </tr>
                                <tr>
                                    <td><label>DOWNLOADS:</label></td>
                                    <td><span><a href="{{ content.field_download_pdf.getFileUri }}">Download PDF (xxmb)</a><br>
                                        <a href="{{ content.field_download_low_res.getFileUri }}">Download Low Res (xxmb)</a><br>
                                        <a href="{{ content.field_download_high_res.getFileUri }}">Download High Res (xxmb)</a></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {# {{ content|without('body','comment','field_image') }} #}
                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 object-gallery">

                <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
			<div class="rg-image-wrapper">
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		    </script>

                <div id="rg-gallery" class="rg-gallery">
                    <div class="rg-thumbs">
                        <!-- Elastislide Carousel Thumbnail Viewer -->
                        <div class="es-carousel-wrapper">
                            <div class="es-nav">
                                <span class="es-nav-prev">Previous</span>
                                <span class="es-nav-next">Next</span>
                            </div>
                            <div class="es-carousel">
                                <ul>
                                    {% set img_counter = 1 %}
                                    {% for value,key in content.field_gallery['#items'] %}
                                        <li><a href="#"><img src="{{ file_url(content.field_gallery[value]['#options'].entity.getFields.field_image.entity.fileuri) }}" data-large="{{ file_url(content.field_gallery[value]['#options'].entity.getFields.field_high_res_image.entity.fileuri) }}" alt="image{{ img_counter }}" data-description="" /></a></li>
                                        {% set image_file = file_url(content.field_gallery[value]['#options'].entity.getFields.field_image.entity.fileuri) %}
                                        {% set image_file_large = file_url(content.field_gallery[value]['#options'].entity.getFields.field_high_res_image.entity.fileuri) %}
                                        {% set img_counter = img_counter + 1 %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- End Elastislide Carousel Thumbnail Viewer -->
                    </div><!-- rg-thumbs -->
                </div><!-- rg-gallery -->

                <div class="text-align-center gallery-credits">The digitisation of this manuscript has been generously sponsored with the following dedication: dedicated for the well being of Ed Swift</div>

                <div class="gallery-content">
                    <h3><b>BLX4287_0R8210_P2_R1_1</b>FRONTISPIECE OF THE DIAMOND SUTRA</h3>

                    <div class="row object-list">
                        <div class="col-lg-6  object-list-left">
                            <table>
                                <tr>
                                    <td><label>URI</label></td>
                                    <td><span><a href="{{ content.field_url[0] }}">{{ content.field_url[0] }}</a></span></td>
                                </tr>
                                <tr>
                                    <td><label>DIGITIAL OBJECT TYPE</label></td>
                                    <td><span>jpeg</span></td>
                                </tr>
                                <tr>
                                    <td><label>EXTENT</label></td>
                                    <td><span>1.2MB</span></td>
                                </tr>
                                <tr>
                                    <td><label>COPYRIGHT</label></td>
                                    <td><span>Copyright text goes here</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6  object-list-right">
                            <table>
                                <tr>
                                    <td><label>DOWNLOAD THIS IMAGE FILE:</label></td>
                                    <td><span>
                                        <a href="{{ image_file }}">Download Low Res (xxmb)</a><br>
                                        <a href="{{ image_file_large }}">Download High Res (xxmb)</a></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 object-catalogues">
                <div class="panel-group" id="accordion">
                    <h3 class="object-section-header">CATALOGUES</h3>
                    {% set cat_counter = 1 %}
                    {% for value,key in content.field_catalogues['#items'] %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">{{ content.field_catalogues[value]['#options'].entity.getFields.title.getValue[0].value }}
                                    <div class="panel-sub-title-show">{{ content.field_catalogues[value]['#options'].entity.getFields.field_sub_title.getValue[0].value }}</div>
                                    <a data-parent="#accordion" data-toggle="collapse"
                                       href="#collapse{{ cat_counter }}">+</a></div>
                            </div>

                            <div class="panel-collapse collapse" id="collapse{{ cat_counter }}">
                                <div class="panel-body">
                                    <div class="content-body">{{ content.field_catalogues[value]['#options'].entity.getFields.body.getValue[0].value | raw }}</div>
                                    <div class="content-footer"><a href="{{ content.field_catalogues[value]['#options'].entity.getFields.field_download_this_catalogue.getFileUri }}">Download this catalogue (PDF xxmb)</a><a href="#">Go to full catalogue</a></div>
                                </div>
                            </div>
                        </div>
                        {% set cat_counter = cat_counter + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-12 object-translations">
                    <h3 class="object-section-header">TRANSLATIONS</h3>
                    <div class="panel-group" id="accordion">
                    {%  set trans_counter = 1 %}
                    {%  for value,key in content.field_translations['#items'] %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">{{ content.field_translations[value]['#options'].entity.getFields.title.getValue[0].value }}
                                    <div class="panel-sub-title-show">{{ content.field_translations[value]['#options'].entity.getFields.field_sub_title.getValue[0].value }}</div>
                                    <a data-parent="#accordion" data-toggle="collapse" href="#collapse_trans{{ trans_counter }}">+</a></div>
                            </div>

                            <div class="panel-collapse collapse" id="collapse_trans{{ trans_counter }}">
                                <div class="panel-body">
                                    <div class="content-body">{{ content.field_translations[value]['#options'].entity.getFields.body.getValue[0].value | raw }}</div>
                                </div>
                            </div>
                        </div>
                        {%  set trans_counter = trans_counter + 1 %}
                        {% endfor %}

                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-lg-12 object-analysis">
                <h3 class="object-section-header">Material Analysis</h3>
                 <div class="content-body">{{ content.field_material_analysis_content }}</div>
                <div class="content-body image-section">
                <span>{{ content.field_material_analysis_image_se }}</span>
                    <div class="row">
                    {#{{ dump(content.field_material_analysis_images) }}#}
                    {% for value,key in content.field_material_analysis_images['#items'] %}
                        <div class="col-lg-3">{{ content.field_material_analysis_images[value] }}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>